{% load tags %}

{% if data.data %}
<div class="row" id="row-{{ data.uuid }}" style="position: relative;">
    {% with image_key=data.data.0.data|image_key %}
        {% for row in data.data %}
        <div class="{% if not compact %}col-sm-12 col-md-4 col-lg-3{% endif %}" style="position: absolute; left: 0%; top: 0px;">
            <div class="card" style="margin-bottom: 10px">
                {% if image_key %}
                    {% for k, v in row.data.items %}
                        {% if k == image_key %}
                            <img class="card-img-top" src="{{ v|image_src }}">
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ row.description }}</h5>
                    <div class="float-end">
                        {% include "adm/queryset/checkbox.html" %}
                    </div>
                    <dl>
                        {% for k, v in row.data.items %}
                            {% if k != image_key %}
                                <dt>{{ k }}</dt>
                                <dd>{{ v|format }}</dd>
                            {% endif %}
                        {% endfor %}
                    </dl>
                    <div class="float-end">
                        {% include "adm/actions.html" with uuid=data.uuid target="instance" actions=data.actions.instance id=row.id|stringformat:'s' enabled=row.actions %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endwith %}
</div>
{% else %}
<div class="alert alert-primary" role="alert" style="margin-top:30px;">
    Nehum registro encontrado.
</div>
{% endif %}
<script>
    //$("#row-{{ data.uuid }}").masonry();
</script>