{% load tags %}
<style>
    .x-badge{
        padding: 15px;
        font-size: 20px;
        border-radius: 10px;
    }
</style>
{% if self.ciclos %}
{% for ciclo in self.ciclos %}
    <h2>{{ ciclo.descricao }}</h2>
<p>Período de solicitação de <b>{{ ciclo.inicio }}</b> até <b>{{ ciclo.fim }}</b>.</p>
    <p>Quantidade máxima de demandas por categoria de investimento:</p>
    <ul>
        {% for limite in ciclo.limites %}
            <li><b>{{ limite.classificacao }}:</b> Até {{ limite.quantidade }} demanda(s) {% if not limite.classificacao.contabilizar %}*{% endif %}</li>
        {% endfor %}
    </ul>
    {% if ciclo.obs %}
    <p>
        * <i>Valores das demandas não serão contabilizados no cálculo do limite geral das demandas</i>.
    </p>
    {% endif %}
    <div align="center" style="margin-bottom: 30px">
        <span class="x-badge badge" style="background-color: #1351C9">Limite:<br>R$ {{ ciclo.maximo|format }}</span>
        <span class="x-badge badge" style="background-color: #fabd0f">Solicitado:<br>R$ {{ ciclo.utilizado|format }}</span>
        <span class="x-badge badge" style="background-color: #46ad44">Disponível:<br>R$ {{ ciclo.disponivel|format }}</span>
    </div>
    <div align="center">
        <a href="/app/investimentos/ciclo/{{ ciclo.id }}/" class="action-button btn btn-outline-primary">
            Acessar Ciclo
        </a>
    </div>
{% endfor %}
{% else %}
<div class="alert alert-warning" role="alert">
    <div>
        <i class="bi bi-exclamation-square"></i>
        Não há ciclo disponível no momento.
    </div>
 </div>
{% endif %}