{% extends super_template|default:"adm/base.html" %}


{% block content %}
    <style>
        .x-badge{
            padding: 10px;
            font-size: 20px;
        }
    </style>
    {% if qs is not None %}
        {% if valores %}
            <div align="center">
                <span class="x-badge rounded-pill bg-primary">Maxímo:<br>R$ {{ valores.maximo }}</span>
                <span class="x-badge rounded-pill bg-danger">Utilizado:<br>R$ {{ valores.utilizado }}</span>
                <span class="x-badge rounded-pill bg-success">Disponível:<br>R$ {{ valores.disponivel }}</span>
            </div>
        {% endif %}
        {{ qs.html }}
    {% else %}
        <center>
            <img src="/static/images/fluxograma.png">
        </center>
    {% endif %}
{% endblock %}