{% if self.gestor %}
<div align="right">
  <strong>{{ self.gestor.instituicao.nome }}</strong>
</div>
{% endif %}
{% if self.notificacoes.exists %}
<div class="mb-0">
 <div class="alert alert-warning" role="alert">

   {% for notificacao in self.notificacoes %}
    <div>
        <i class="bi bi-exclamation-square"></i>
        {{ notificacao }}
    </div>
   {% endfor %}

 </div>
</div>
<hr>
{% endif %}
{% if self.mensagem %}
<div class="alert alert-primary" role="alert">
  <h4 class="alert-heading">Caro  {{ self.mensagem.perfil }}...</h4>
  <img src="/static/images/gestor.png" style="float:left"/>
  {{ self.mensagem.introducao|linebreaks }}
  <hr>
  <div class="mb-0">
     {{ self.mensagem.detalhamento|linebreaks }}
  </div>
</div>
{% if self.mensagem.anexos.exists %}
<div class="mb-0">
 <strong>Anexos:</strong>
 <ul>
   {% for anexo in self.mensagem.anexos.all %}
    <li style="list-style:none">
        <i class="bi bi-file-arrow-down"></i>
        <a href="/media/{{ anexo.arquivo }}">{{ anexo.descricao }}</a></li>
   {% endfor %}
 </ul>
</div>
<hr>
{% endif %}
<div class="clear-fix"></div>
{% endif %}