{% extends super_template|default:"app/base.html" %}


{% block content %}

<h1>Videos</h1>

<h4>Introdução</h4>
<div align="center">
  <video width="320" height="240" controls playsinline>
    <source src="/media/tutorial/COLETA-SETEC-1.mp4" type="video/mp4">
  </video>
  <p>
    Em caso de falha, baixe o video <a href="/media/tutorial/COLETA-SETEC-1.mp4">clicando aqui.</a>
  </p>
</div>

<h4>Preenchimento das Demandas</h4>
<div align="center">
  <video width="320" height="240" controls playsinline>
    <source src="/media/tutorial/COLETA-SETEC-2.mp4" type="video/mp4">
  </video>
  <p>
    Em caso de falha, baixe o video <a href="/media/tutorial/COLETA-SETEC-2.mp4">clicando aqui.</a>
  </p>
</div>

<h4>Informações Complementares</h4>
<div align="center">
  <video width="320" height="240" controls playsinline>
    <source src="/media/tutorial/COLETA-SETEC-3.mp4" type="video/mp4">
  </video>
  <p>
    Em caso de falha, baixe o video <a href="/media/tutorial/COLETA-SETEC-3.mp4">clicando aqui.</a>
  </p>
</div>
{% endblock %}