{% extends super_template|default:"adm/base.html" %}


{% block content %}

<h1>Videos</h1>

<h4>Introdução</h4>
<div align="center">
  <video width="320" height="240" controls muted playsinline>
    <source src="/media/tutorial/COLETA-SETEC-1.mp4" type="video/mp4">
  </video>
</div>

<h4>Preenchimento das Demandas</h4>
<div align="center">
  <video width="320" height="240" controls muted playsinline>
    <source src="/media/tutorial/COLETA-SETEC-2.mp4" type="video/mp4">
  </video>
</div>

{% endblock %}