{% load tags %}
{% if actions %}
<div class="action-container" id="{{ target }}-{{ uuid }}-{{id}}">
    {% if compact or request|mobile or request|tablet %}
    {% with grouped_actions=actions|group_by_icon %}
        {% for action in grouped_actions.with_icon %}
            {% if  target != 'instance' or  target == 'instance' and action.key in enabled %}
            <a href="{{ action.path }}"
               data-url="{{ action.path }}"
               data-id="{{ id }}"
               data-uuid="{{ uuid }}"
               title="{{ action.submit }}"
               class="action-button btn btn-circle btn-outline-{{ action.style }} {{ target }} {% if target == 'queryset' %}disabled{% endif %} {% if action.modal %}popup{% endif %}">
                {{ action.icon|icontag }}
            </a>
            {% endif %}
        {% endfor %}

        {% if grouped_actions.without_icon %}
            <div class="dropdown" style="float:right; margin-left:5px;">
                <a class="btn btn-circle {{ target }}  btn-outline-primary {% if target == 'queryset' %}disabled{% endif %}" href="#" role="button" id="dropdownMenuLink"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots text-primary"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for action in grouped_actions.without_icon %}
                        {% if  target != 'instance' or  target == 'instance' and action.key in enabled %}
                        <li>
                            <a class="dropdown-item action-button {{ target }} {% if action.modal %}popup{% endif %}"
                               href="{{ action.path }}"
                               data-url="{{ action.path }}"
                               data-id="{{ id }}"
                               data-uuid="{{ uuid }}"
                               title="{{ action.submit }}">
                                {{ action.icon|icontag }}
                                {{ action.submit }}
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    {% endwith %}
    {% else %}
        {% for action in actions %}
            {% if  target != 'instance' or  target == 'instance' and action.key in enabled %}
            <a href="{{ action.path }}"
               data-url="{{ action.path }}"
               data-id="{{ id }}"
               data-uuid="{{ uuid }}"
               title="{{ action.submit }}"
               class="action-button btn btn-outline-{{ action.style }} {{ target }} {% if target == 'queryset' %}disabled{% endif %} {% if action.modal %}popup{% endif %}">
                &nbsp;{{ action.icon|icontag }}
                {% if target != 'instance' or not action.icon %}{{ action.submit }}{% endif %}&nbsp;
            </a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<script>
    function actionURL(url){
        var extra = '{{ request|post_querystring }}';
        if(extra){
            if(url.indexOf('?')>0) return url + '&' + extra;
            else return url + '?' + extra;
        } else { return url;}
    }
    $('#{{ target }}-{{ uuid }}-{{id}}').find('.action-button').on('mouseenter', function(){
        if($(this).hasClass('instance')){
            this.href = actionURL($(this).data('url').replace('{id}', $(this).data('id')));
        }
        if($(this).hasClass('queryset')){
            var ids = $('#queryset-{{ uuid }}').find('.action-checkbox:checked').map(function(){
              return $(this).val();
            }).get().filter(function (id) { return id!='on' }).join('-');
            this.href = actionURL($(this).data('url').replace('{id}', '0-'+ids));
        }
        if($(this).hasClass('model')){
            this.href = actionURL($(this).data('url'));
        }
    });
</script>
{% endif %}


<!--<script>document.getElementById('{{ target }}-{{ uuid }}').addEventListener('show.bs.dropdown', function () { $(this).find('ul').append(''); });</script>-->