{% load tags %}
{% if not request|is_ajax %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ settings.SLOTH.NAME }}</title>
    <link rel="manifest" href="/app/manifest/?v={{ settings.SLOTH.VERSION|stringformat:'s' }}">
    {% if settings.SLOTH.ICON %}
      <link rel="apple-touch-icon" sizes="128x128" href="{{ settings.SLOTH.ICON }}">
    {% endif %}
    {% if settings.SLOTH.FAVICON %}
      <link rel="icon" sizes="192x192" href="{{ settings.SLOTH.FAVICON }}">
    {% endif %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-icons.css">
    {% if 'materialicons' in settings.SLOTH.ICONS %}
      <link rel="stylesheet" href="/static/icons/materialicons/materialicons.css">
    {% endif %}
    {% if 'fontawesome' in settings.SLOTH.ICONS %}
      <link rel="stylesheet" href="/static/icons/fontawesome/fontawesome.min.css">
    {% endif %}
    <link rel="stylesheet" href="/static/css/select2.min.css"/>
    <link rel="stylesheet" href="/static/css/colorpick.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/trumbowyg.min.css"/>
    <link rel="stylesheet" href="/static/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/sloth.css?v={{ settings.SLOTH.VERSION }}" />
    {% for url in settings.SLOTH.INCLUDE.CSS %}
      <link rel="stylesheet" href="{{ url }}?v={{ settings.SLOTH.VERSION }}" />
    {% endfor %}

    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/select2.min.js"></script>
    <script src="/static/js/colorpick.min.js"></script>
    <script src="/static/js/i18n/pt-BR.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    {% if 'fontawesome' in settings.SLOTH.ICONS %}
      <script src="/static/icons/fontawesome/fontawesome.min.js"></script>
    {% endif %}
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/masonry.pkgd.min.js"></script>
    <script src="/static/js/sloth.js?v=1.0.0"></script>
    <script src="/static/js/jquery.binarytransport.js"></script>
    <script src="/static/js/jquery.mask.min.js"></script>
    <script src="/static/js/jquery.timepicker.js"></script>
    <script src="/static/js/trumbowyg.min.js"></script>

    <style>
      body{
        visibility:hidden;
      }
      main{
        padding: {% if request|mobile %}0.25rem{% else %}1rem{% endif %}
      }
    </style>
    {% block extrahead %} {% endblock %}

  </head>
  <body>

    {% block header %}
      {% include "app/dashboard/header.html" %}
    {% endblock %}

    {% include "app/dashboard/menu.html" with data=dashboard.data %}
    {% include "app/dashboard/links.html" with data=dashboard.data %}

      <main>
{% endif %}
{% block content %}
{% endblock %}
{% include "app/messages.html" %}
{% for url in settings.SLOTH.INCLUDE.JS %}
      <script src="{{ url }}?v={{ settings.SLOTH.VERSION }}"></script>
{% endfor %}
      <script src="/static/js/tests.js"></script>
{% if not request|is_ajax %}
      </main>
    {% if dashboard.data.menu %}

    {% endif %}
    {% block footer %}
    {% include "app/footer.html" %}
    {% endblock %}
    {% include "app/modal.html" %}
    {% include "app/dashboard/bottom.html" %}
  </body>
</html>
{% endif %}
