{% load tags %}
{% if data.type == 'fieldset' %}
    {% if data.template %}
        {% include data.template with data=data %}
    {% else %}
      <div class="card">
        <div class="card-body">
          {% if data.name %}
          <div class="fieldset-title" onclick="$(this).parent().find('.toogle-data').slideToggle();$(this).find('i').toggleClass('bi-chevron-down').toggleClass('bi-chevron-right');">
              <h5>
                  <i class="bi bi-chevron-down"></i>
                  {{ data.name }}
              </h5>
          </div>
          {% endif %}
          <div class="fieldset-action-bar">
              {% if data.actions %}
                  {% include "app/actions.html" with uuid=data.uuid target="model" actions=data.actions   %}
              {% endif %}
          </div>
          <div class="card-text fieldset-data toogle-data" id="{{ data.name|slugify }}">
              <table width="100%">
                  <tr>
                    {% if data.image %}
                      <td style="width:0px;{% if request|mobile %}padding-bottom:20px;text-align:center;{% else %}padding-right:20px{% endif %}">
                          <img width="200px" src="{{ data.image }}"/>
                      </td>
                    {% endif %}
                  {% if request|mobile %}
                  </tr><tr>
                  {% endif %}
                    <td>
                      <div class="responsive-container">
                          {% for k, v in data.data.items %}
                                {% include "app/field.html" with k=k v=v %}
                          {% endfor %}
                      </div>
                    </td>
                  </tr>
              </table>
          </div>
        </div>
      </div>
      {% if data.refresh %}
          <script>
          {% if not request|is_ajax %}
                var retry_{{ data.key }} = {{ data.refresh.retry }};
                const interval_{{ data.key }} = setInterval(
                    function(){$(document).refresh('{{ data.key }}')},
                    {{ data.refresh.seconds }}000
                );
          {% else %}
                {% if data.refresh.retry %}
                    var retry_{{ data.key }} = retry_{{ data.key }} - 1;
                {% else %}
                    var retry_{{ data.key }}=0;
                {% endif %}
                if(retry_{{ data.key }}==0) clearInterval(interval_{{ data.key }});
          {% endif %}
          </script>
      {% endif %}
    {% endif %}
{% endif %}

{% if data.type == 'queryset' %}
    {% include 'app/queryset/queryset.html' with data=data title_class=title_class %}
{% endif %}

{% if data.type == 'statistics' %}
    {% include 'app/statistics.html' with data=data title_class=title_class %}
{% endif %}

