{% load tags %}
{% if fieldset.type == 'fieldset' %}
    {% if fieldset.template %}
        {% include fieldset.template with data=data %}
    {% else %}
      <div class="card">
        <div class="card-body">
          <div class="fieldset-title {{ title_class }} {{ request.GET.title_class }}" onclick="$('#{{ fieldset.name|slugify }}').slideToggle();$(this).find('i').toggleClass('bi-chevron-down').toggleClass('bi-chevron-right');">
              <h5>
                  <i class="bi bi-chevron-down"></i>
                  {{ fieldset.name }}
              </h5>
          </div>
          <div class="fieldset-action-bar">
              {% if fieldset.actions %}
                  {% include "app/actions.html" with uuid=data.uuid target="model" actions=fieldset.actions   %}
              {% endif %}
          </div>
          <div class="card-text fieldset-data" id="{{ fieldset.name|slugify }}">
              <table width="100%">
                  <tr>
                    {% if fieldset.image %}
                      <td style="width:0px;{% if request|mobile %}padding-bottom:20px;text-align:center;{% else %}padding-right:20px{% endif %}">
                          <img width="200px" src="{{ fieldset.image }}"/>
                      </td>
                    {% endif %}
                  {% if request|mobile %}
                  </tr><tr>
                  {% endif %}
                    <td>
                      <div class="responsive-container">
                          {% for k, item in fieldset.data.items %}
                            <div class="fieldset-field width-{{ item.width }}">
                                <b>{{ k }}:</b><br>
                                {% if item.template %}
                                    {% include item.template with value=item.value metadata=item.metadata %}
                                {% else %}
                                    {{ item.value|format }}
                                {% endif %}
                            </div>
                          {% endfor %}
                      </div>
                    </td>
                  </tr>
              </table>
          </div>
        </div>
      </div>
      {% if fieldset.refresh %}
          <script>
          {% if not request|is_ajax %}
                var retry_{{ fieldset.key }} = {{ fieldset.refresh.retry }};
                const interval_{{ fieldset.key }} = setInterval(
                    function(){$(document).refresh('{{ fieldset.key }}')},
                    {{ fieldset.refresh.seconds }}000
                );
          {% else %}
                {% if fieldset.refresh.retry %}
                    var retry_{{ fieldset.key }} = retry_{{ fieldset.key }} - 1;
                {% else %}
                    var retry_{{ fieldset.key }}=0;
                {% endif %}
                if(retry_{{ fieldset.key }}==0) clearInterval(interval_{{ fieldset.key }});
          {% endif %}
          </script>
      {% endif %}
    {% endif %}
{% endif %}

{% if fieldset.type == 'queryset' %}
    {% include 'app/queryset/queryset.html' with data=fieldset title_class=title_class %}
{% endif %}

{% if fieldset.type == 'statistics' %}
    {% include 'app/statistics.html' with data=fieldset title_class=title_class %}
{% endif %}

