<style>
    footer{
        text-align:center;
        padding-top: 20px;
    }
    footer .footer-title{
        font-size: 90%;
    }
    footer .footer-text{
        font-size: 75%;
    }
</style>
{% if dashboard.extra.footer.title %}
    <footer>
        <div class="footer-title">
            {{ dashboard.extra.footer.title }}
        </div>
        {% if dashboard.extra.footer.text %}
            <div class="footer-text">
                <div>{{ dashboard.extra.footer.text }}</div>
                {% if dashboard.extra.footer.version %}
                    <div>Versão {{ dashboard.extra.footer.version|stringformat:'s' }}</div>
                {% endif %}
            </div>
        {% endif %}
    </footer>
{% endif %}