{% extends super_template|default:"app/base.html" %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Icons</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <input class="form-control me-2" type="search" placeholder="Type a key-work and press <enter> key..." aria-label="Search" onchange="searchIcons(this.value);">
        </div>
      </div>
    </nav>
    {% endblock %}

{% block content %}
    <style>
        .icon-container{
            width:100px;
            display:inline-block;
            vertical-align:top;
        }
        .icon-container i{
            font-size:35px;
        }
        .icon-container span{
            font-size:10px;
        }
    </style>
    <script>
        function searchIcons(q){
            if(q){
                $('.icon-container').hide();
                $('.icon-container:contains("'+q+'")').show();
            } else {
                $('.icon-container').show();
            }
        }
    </script>
    {% for icon in bootstrap %}
    <div align="center" class="icon-container">
        <i class="bi bi-{{ icon }}"></i><br>
        <span>{{ icon }}</span>
    </div>
    {% endfor %}
{% endblock %}