{% if messages %}
    <script>
        if(window['toastTimeout']) clearTimeout(window['toastTimeout']);
        window['toastTimeout'] = setTimeout(function(){$('.toast').hide();}, 5000);
    </script>
    {% for message in messages %}
        <div class="toast align-items-center text-white bg-{{ message.tags }} border-0 show" role="alert" aria-live="assertive" aria-atomic="true" style="position:fixed; top:10; left:10">
          <div class="d-flex">
            <div class="toast-body">
              {{ message }}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" onclick="$('.toast').hide();"></button>
          </div>
        </div>
    {% endfor %}
{% endif %}
