{% extends super_template|default:"app/base.html" %}

{% block content %}

<style>
    .single-role-selector{
        width: 100%;
        text-align:center;
    }
    .single-role-selector li{
        list-style-type: none;
    }
    .single-role-selector li a{
        max-width: 90%;
        min-width: 700px;
    }
</style>
{% if settings.SLOTH.ROLES.ALLOW_MULTIPLE %}
    <h2 align="center">
        <i class="bi bi-person-check"></i>
        Selecione os papéis que deseja acessar
    </h2>
    <ul class="single-role-selector">
        {% for name in request.user.roles.active.names %}
            <li>
                <input type="checkbox" value="{{ name }}" name="role" checked onchange="checkRoles()">
                <label>{{ name }}</label>
            </li>
        {% endfor %}
        {% for name in request.user.roles.inactive.names %}
            <li>
                <input type="checkbox" value="{{ name }}" name="role" onchange="checkRoles()">
                <label>{{ name }}</label>
            </li>
        {% endfor %}
    </ul>
    <div align="center">
        <a class="btn btn-outline-primary role-selector" href="javascript:" onclick="selectRoles()">
            Ativar papéis selecionados
        </a>
    </div>
{% else %}
    <h2 align="center">
        <i class="bi bi-person-check"></i>
        Selecione o papel que deseja acessar
    </h2>
    <ul class="single-role-selector">
        {% for name in request.user.roles.names %}
            <li>
                <a class="btn btn-outline-primary" href="/app/roles/?names={{ name }}">
                    {{ name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<script>
    function checkRoles(){
        if(getRoles().length==0) $('.role-selector').addClass('disabled');
        else $('.role-selector').removeClass('disabled');
    }
    function getRoles(){
        return $('input[name=role]:checked').map(function() { return $(this).val(); } ).get().join('|');
    }
    function selectRoles(){
        var url = '/app/roles/?names='+getRoles();
        document.location.href = url;
    }
</script>
{% endblock %}