{% load tags %}
{% if uuid is None or request.GET.uuid is None %}
    <div class="card">
        <div class="card-body">
            {% if data.name %}
            <div class="fieldset-title" onclick="$(this).parent().find('.toogle-data').slideToggle();$(this).find('i').toggleClass('bi-chevron-down').toggleClass('bi-chevron-right');">
              <h5>
                  <i class="bi bi-chevron-down"></i>
                  {{ data.name }}
              </h5>
            </div>
            {% endif %}
            <div class="card-text fieldset-data toogle-data" id="{{ fieldset.name|slugify }}-statistics">
{% endif %}
{% if data.template %}
    {% include data.template with data=data %}
{% else %}

<table class="table" style="overflow-x:auto">
    {% if data.series.default %}
        <thead>
            <tr>
                <td scope="col"></td>
                <th scope="col" class="align-middle" style="text-align:center">Total</th>
            </tr>
        </thead>
        {% for name, value, color in data.series.default %}
        <tr>
            <th scope="col">{{ name }}</th>
            <td scope="col" class="align-middle" align="center">{{ value|format }}</td>
        </tr>
        {% endfor %}
    {% else %}
        {% if data.series %}
            {% for name, series in data.series.items %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        <td scope="col"></td>
                        {% for name, value, color in series %}
                            <th scope="col" class="align-middle" style="text-align:center">{{ name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr>
                    <th scope="col">{{ name }}</th>
                    {% for name, value, color in series %}
                        <td scope="col" class="align-middle" align="center">{{ value|format }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% else %}
            <div class="alert alert-primary" role="alert" style="margin-top:30px;">
              Nehum registro encontrado.
            </div>
        {% endif %}
    {% endif %}
</table>

{% endif %}
{% if uuid is None or request.GET.uuid is None %}
                </div>
        </div>
    </div>
{% endif %}
