{% load tags %}
<div class="fieldset reloadable" id="{{ data.key }}" data-path="{{ data.path }}">
<div id="statistics-{{ data.uuid }}">
{% if uuid is None or request.GET.uuid is None %}
    <div class="card">
        <div class="card-body">
            {% if data.name %}
            <div class="fieldset-title" onclick="$(this).parent().find('.toogle-data').slideToggle();$(this).find('i').toggleClass('bi-chevron-down').toggleClass('bi-chevron-right');">
              <h5>
                  <i class="bi bi-chevron-down"></i>
                  {{ data.name }}
              </h5>
            </div>
            {% endif %}
            <div class="card-text fieldset-data toogle-data" id="{{ fieldset.name|slugify }}-statistics">
{% endif %}
                {% if data.series %}
                    {% if data.template %}
                        {% include data.template with data=data %}
                    {% else %}
                        {% if 0 %}
                        <div class="search-and-filters">
                            <form method="get" id="form-{{ data.uuid }}" action="{{ data.path }}">
                                <input type="hidden" name="uuid" value="{{ data.uuid }}">
                                <div class="filters" id="filters-{{ data.uuid }}">
                                    {% for name, metadata in data.filters.items %}
                                        {% include "app/queryset/filter.html" %}
                                    {% endfor %}
                                </div>
                                <div class="filter">
                                    <button type="button" class="btn btn-primary filter-button" onclick="$(this).find('.spinner-border').removeClass('d-none');$(this).find('i').addClass('d-none');reload{{ data.uuid }}(false)">
                                        <div class="spinner-border spinner-border-sm d-none" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <i class="bi bi-funnel"></i>
                                        Filtrar
                                    </button>
                                </div>
                            </form>
                        </div>
                        <script>
                            function reload{{ data.uuid }}(attaches, subset){
                                $(document.body).addClass('page-loading');
                                var data = $('#form-{{ data.uuid }}').serialize();
                                $.ajax({
                                    url:'{{ data.path }}',
                                    data:data,
                                    success:function( html ) {
                                        $(document.body).removeClass('page-loading');
                                        $('#statistics-{{ data.uuid }}').find('i').removeClass('d-none');
                                        $('#statistics-{{ data.uuid }}').find('.spinner-border').addClass('d-none');
                                        $('#statistics-{{ data.uuid }}').find('table').html($(html).find('table').html());
                                    }
                                });
                            }
                        </script>
                        {% endif %}
                        <table class="table" style="overflow-x:auto">
                            {% if data.series.default %}
                                <thead>
                                    <tr>
                                        <td scope="col"></td>
                                        <th scope="col" class="align-middle" style="text-align:center">Total</th>
                                    </tr>
                                </thead>
                                {% for name, value, color in data.series.default %}
                                <tr>
                                    <th scope="col">{{ name }}</th>
                                    <td scope="col" class="align-middle" align="center">{{ value|format }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                    {% for name, series in data.series.items %}
                                        {% if forloop.first %}
                                            <thead>
                                            <tr>
                                                <td scope="col"></td>
                                                {% for name, value, color in series %}
                                                    <th scope="col" class="align-middle" style="text-align:center">{{ name }}</th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                        {% endif %}
                                        <tr>
                                            <th scope="col">{{ name }}</th>
                                            {% for name, value, color in series %}
                                                <td scope="col" class="align-middle" align="center">{{ value|format }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                            {% endif %}
                        </table>
                    {% endif %}
                {% else %}
                    <div class="alert alert-primary" role="alert">Nenhum registro encontrado.</div>
                {% endif %}
            </div>
{% if uuid is None or request.GET.uuid is None %}

        </div>
    </div>
{% endif %}
</div>
</div>