
<div class="valueset row clearfix">
    <div class="{% if append %}col-lg-9 col-md-8 col-sm-12{% else %}col{% endif %}">
        <div class="valueset-header">
            <div class="valueset-title">
                {% if data.name %}
                    <h2>
                        {% if data.icon %}
                            <i class="bi bi-{{ data.icon }}"></i>
                        {% endif %}
                        {{ data.name }}
                    </h2>
                {% endif %}
            </div>
            <div class="valueset-action-bar">
                  {% if data.actions %}
                      {% include "app/actions.html" with uuid=data.uuid target="model" actions=data.actions   %}
                  {% endif %}
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="valueset-attaches">
            {% if data.attach %}
            <ul class="nav justify-content-center">
                {% for item in data.attach %}
                  <li class="nav-item">
                    <a class="nav-link" href="/app{{ item.path }}">{{ item.name }}</a>
                  </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="valueset-fieldsets">
        {% for name, item in data.data.items %}
            <div class="fieldset" id="{{ item.key }}">
                {% if item.type == 'fieldset-group' %}
                    {% include 'app/fieldset-group.html' with item=item %}
                {% endif %}
                {% if item.type == 'fieldset-list' %}
                    {% include 'app/fieldset-list.html' with item=item %}
                {% endif %}
                {% if item.type == 'fieldset' %}
                    {% include 'app/fieldset.html' with fieldset=item %}
                {% endif %}
                {% if item.type == 'queryset' %}
                    {% include 'app/fieldset.html' with fieldset=item %}
                {% endif %}
                {% if item.type == 'statistics' %}
                    {% include 'app/fieldset.html' with fieldset=item %}
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
    {% if data.append %}
    <div class="col-lg-3 col-md-4 col-sm-12 fieldset-side-panel">
        {% for name, item in data.append.items %}
            {% include 'app/fieldset.html' with fieldset=item compact=True %}
        {% endfor %}
    </div>
    {% endif %}

</div>





