{% load tags %}

{% if v|is_valueset %}
    <dl>
    {% for k2, v2 in v.items %}
        {% if v2.metadata.icon %}
            <dt></dt>
            <dd>
            {{ v2.metadata.icon|icontag }}
            {% if v2.template %}
                {% include v2.template with value=v2.value metadata=v2.metadata %}
            {% else %}
                {{ v2.value|format|linebreaksbr }}
            {% endif %}
            </dd>
        {% else %}
            <dt>{{ k2 }}</dt>
            <dd>
                {% if v2.template %}
                    {% include v2.template with value=v2.value metadata=v2.metadata %}
                {% else %}
                    {{ v2.value|format|linebreaksbr }}
                {% endif %}
            </dd>
        {% endif %}
    {% endfor %}
    </dl>
{% else %}
    {% if v.template %}
        {% include v.template with value=v.value metadata=v.metadata %}
    {% else %}
        {{ v.metadata.icon|icontag }}
        {{ v.value|format|linebreaksbr }}
    {% endif %}
{% endif %}