@font-face {
  font-display: swap;
  font-family: Eina02-SemiBold;
  src:
      local('Eina02'),
      local('Eina02-SemiBold'),
      url(/static/css/fonts/Eina02-SemiBold.c5f9b8e3.ttf)
    ;
}
@font-face {
  font-display: swap;
  font-family: Eina02-Regular;
  src:
        local('Eina02'),
        local('Eina02-Regular'),
        url(/static/css/fonts/Eina02-Regular.2e682693.ttf)
      ;
}
@font-face {
  font-display: swap;
  font-family: Eina02-Bold;
  src:
        local('Eina02'),
        local('Eina02-Bold'),
        url(/static/css/fonts/Eina02-Bold.f8011405.ttf)
      ;
}
.dashboard .card{
    border: 0;
}
.action-container:not(.queryset){
    text-align: right;
}
.btn{
    margin-bottom: 5px;
    white-space: nowrap;
}
.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 25px;
    text-align: center;
    font-size: 25px;
    line-height: 1.42857;
}
.btn:hover i{
    color: white !important;
}
.img-circle{
    border-radius: 50%;
}
.queryset-title {
    display: inline-block;
}
.queryset-action-bar {
    float: right;
    display: inline-block;
}
.queryset-data{
    overflow-x:auto;
    max-width:100%;
    clear: both;
    padding: 1px;
}
.fieldset{
    overflow-x: hidden;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fieldset .action-wrapper h2{
    font-size: 1.1rem;
}
.fieldset .search-and-filters{

}
.fieldset-tab{
    margin-top: 10px;
}

.fieldset-tab .card{
    border: 0;
}

.fieldset-title {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor:pointer;
}
.fieldset-field{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}
.fieldset-field-label{
    font-weight: bold;
}
.fieldset-data{
    clear: both;
}
.fieldset-data-item img {
  border-radius: 50%;
  margin-right: 20px;
}
.fieldset-container{
    padding: 1rem 1rem;
}
.fieldset-tabs{
    clear: both;
}
.fieldset-side-panel .card{
    border: 0px;
    margin-bottom: 30px;
}

.fieldset-side-panel .action-checkbox{
    font-size: 22px;
    margin: 5px;
}

.card-body .queryset-title h2{
    font-size: 1.25rem;
}
.fieldset-tab .queryset-title h2{
    font-size: 1.25rem;
}
.fieldset-action-bar{
    float: right;
    display: inline-block;
}
.fieldet-tab{
    padding-top: 1rem;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.page-loading::before {
    content:" ";
    display:block;
    position:fixed;
    z-index:10;
    height:2px;
    width:100%;
    top:0;
    left:0;
    background-color:#0d6efd;
    animation: 3s ease-out 0s 1 slideInFromLeft;
}
.search-and-filters {
    border-radius: 5px;
    width: 100%;
}
.search-and-filters label {
    color: #666;
}
.search-and-filters .select2-container{
    width: 100% !important;
}
.search-and-filters .select2-container--default .select2-selection--single{
    height: 38px !important;
    padding-top: 3px;
    width: 100% !important;
}
.search-and-filters input[type=text]{
    min-width: 210px;
    height: 38px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.search-and-filters form>div {
    display: inline;
}
.search-and-filters .filter.mobile, .search-and-filters .filter.mobile .btn{
    width: 100%;
}
.search-and-filters .filter {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    margin-bottom: 5px;
}
.search-and-filters .filter .fa-calendar{
    position: relative;
    left: -75px;
    bottom: -27px;
    color: #DDD;
}
.search-and-filters .submit-button {
    flex-basis: 100px;
    flex-grow: 1;
    margin: 15px 10px;
}
.search-and-filters input[type="text"] {
    max-width: 100%;
    width: 100%;
}
.search-and-filters .submit-panel{
    padding-top: 24px;
}
.queryset .nav-item.mobile{
   width: 100%;
}
.queryset .nav-item:not(.mobile){
    border-bottom: solid 3px #EEE;
}
.queryset .nav-item.mobile.selected{
   border: solid 1px #1351b4;
}
.queryset .nav-item.selected{
   border-bottom-color: #1351b4;
}
.queryset .search-and-filters form{
    width: 100%;
}
.queryset .search-and-filters-controls a{
    text-decoration: none;
}
.queryset .search-and-filters-controls{
    width: 100%;
}
.queryset .search-and-filters-controls *{
    display: inline-block;
}
.queryset .search-and-filters-controls input{
    width: calc(100% - 200px);
}
.select2-selection__clear span{
    position: relative;
    color: #CCC;
    top: -8px;
}
.messages{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-radius: 0;
}
main{
    width:100%;
    min-height: 70vh;
}

main > .row > .col{
    padding:0px;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple{
    height: 38px;
    padding-top: 3px;
    border-color: #ced4da !important;
}
.select2-container--open {
    z-index: 9999999;
}
.select2-selection__arrow{
    margin: 5px;
}

.select2-selection__clear{
    margin-top: 8px;
    padding-right: 12px !important;
}
#search, .search-menu{
    border-radius: 0;
}
.search-results{
    position: absolute;
    top: 57;
    z-index: 1;
    max-height: 300px;
    overflow-y: scroll;
    border-bottom: solid 1px #ced4da;
}
.search-results a{
    text-decoration: none;
}

dl dl {
    margin-left: 10px;
}

textarea{
    width: 100%;
}
.form-display{
    margin-bottom: 10;
}
.form-display .valueset-header{
    display: none;
}
.form-display .valueset .col{
    padding-right: 0;
    padding-left: 0;
}
.form-field{
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: top;
}
.form-field label.required{
    font-weight: bold;
}
.form-field help{
    font-
}
.form-submit{
    float: right;
    width: 100%;
    text-align: right;
}
.responsive-container > div{
    display: inline-block;
    vertical-align: top;
}
.width-100, .n.width-50, .n.width-33, .n.width-25, .s.width-25{
    width: 98.5%;
}
.s.width-25, .s.width-33, .s.width-50, .m.width-25, .m.width-50, .l.width-50{
    width: 48.9%;
}
.m.width-33, .l.width-33{
    width: 32.45%;
}
.l.width-25{
    width: 24.2%;
}


.errors ul{
    padding-inline-start: 0;
    margin-bottom: 0;
}
.errors li{
    list-style: none;
    color: #dc3545;
}

.search-menu a.subitem{
    line-height: 1.7;
}

textarea{
    border-color: #ced4da;
}

.valueset .action-wrapper h2{
    font-size: 1.25rem;
}

.valueset-title{
        display: inline-block;
}
.valueset-action-bar{
    display: inline-block;
    float: right;
}
.fieldset-tab .valueset-fieldsets .card-body{
    padding: 0px !important;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}

.chart-legend {
  list-style: none;
  display: table;
  border-collapse: separate;
  text-align: center;
  margin: auto;
}
.chart-legend li{
    display: inline-block;
    margin: 5px;
}
.chart-legend .percent {
  color: white;
  text-shadow: 0 0 1px black;
  text-align: center;
  height: 25px;
  min-width: 40px;
  float: left;
  border-radius: 10%;
}
.chart-legend li span {
  padding-left: 10px;
}
.material-icons{
    position: relative;
    top: 2px;
	font-size: 16px;
}

.reloadable-fieldset, .reloadable-queryset{
    margin-bottom: 10px;
}

body{
    background-color: #FCFCFC;
    font-family: Eina02-Regular;
}

.modal-content{
    background-color: #FCFCFC;
    border: 0;
}

h1, h2, h3, h4, h5, dt, .navbar-brand{
    font-family: Eina02-Bold !important;
}
th, label, .fieldset-field-label, .nav-link.active{
    font-family: Eina02-SemiBold !important;
    color: inherit !important;
}

.valueset-subtitle-text{
    font-family: Eina02-SemiBold;
    font-size: 1.2rem;
    font-style: italic;
    margin-top: -10px;
}

.nav-link, h1, h2, h3, h4, h5{
	color: rgba(0, 0, 0, 0.87) !important;
}
.navbar{
    background-color: #FFF;
    padding: 15px;
    box-shadow: 0px -1px 0px 0px #001E3C1A inset;
}

.search-and-filters .filter {
    width: 250px;
}

.fieldset-inline-action .action-wrapper fieldset, .fieldset-tab .box,
#login-wrapper fieldset{
    box-shadow: none;
    padding: 0;
}

.admin-queryset .queryset-data, .admin-queryset .search-and-filters form.with-filter,
.fieldset-inline-action, .action-wrapper fieldset, .cards-wrapper,
.shortcut-wrapper, .fieldset-list, .fieldset-group, .box,
.valueset-fieldsets > reloadable-fieldset:not(.box){
	background-color: white;
	box-shadow: 0px 16px 32px 0px #001E3C0A;
	border-radius: 8px;
	padding: 20px;
}
.search-and-filters form, .action-wrapper, .cards-wrapper, .shortcut-wrapper, .fieldset-list, .fieldset-inline-action{
    margin-bottom: 20px;
}

.progress{
    height: 1.5rem;
}

#app__dashboard__login{
    background-color: #FFF;
}

#login-wrapper{
    background-color: #FFF;
    margin:auto;
    max-width: 300px;
    margin-top: 75px;
    padding: 10px;
}

#login-wrapper .form-submit .btn-light{
    display: none;
}

#login-wrapper .btn{
    width: 100%;
}

#login-wrapper h2{
    text-align: center;
}

.accordion-button:not(.collapsed), .accordion-button:focus{
	border-color: white;
	background-color: white;
	box-shadow: none;
}