{% load tags %}
{% if fieldset.type == 'fieldset' %}
    {% if fieldset.template %}
        {% include fieldset.template with data=data %}
    {% else %}
      <div class="card">
        <div class="card-body">
          <div class="fieldset-title">
            <h5>{{ fieldset.name }}</h5>
          </div>
          <div class="fieldset-action-bar">
              {% if fieldset.actions %}
                  {% include "adm/actions.html" with uuid=data.uuid target="model" actions=fieldset.actions   %}
              {% endif %}
          </div>
          <div class="card-text fieldset-data">
              <table width="100%">
                  <tr>
                    {% if fieldset.image %}
                      <td><img src="{{ fieldset.image }}"/></td>
                    {% endif %}
                    <td>
                      {% for k, item in fieldset.data.items %}
                        <div class="fieldset-field width-{{ item.width }}"><b>{{ k }}</b><br>{{ item.value|format }}</div>
                      {% endfor %}
                    </td>
                  </tr>
              </table>
          </div>
        </div>
      </div>
    {% endif %}
{% endif %}

{% if fieldset.type == 'queryset' %}
    <div class="card">
        <div class="card-body">
        {% include 'adm/queryset.html' with data=fieldset %}
        </div>
    </div>
{% endif %}

{% if fieldset.type == 'statistics' %}
    <div class="card">
        <div class="card-body">
            <h5>{{ fieldset.name }}</h5>
            <table class="table" style="overflow-x:auto">
                {% if fieldset.series.default %}
                    {% for name, value, color in fieldset.series.default %}
                    <tr>
                        <td scope="col">{{ name }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
{% endif %}
