{% load tags %}

{% if uuid is None %}
<div class="queryset" id="queryset-{{ data.uuid }}">
    {% if inner %}
        <div class="card"><div class="card-body">
    {% endif %}
    <div class="queryset-title">
        <h2>
            {% if data.icon %}
                <i class="bi bi-{{ data.icon }}"></i>
            {% endif %}
            {{ data.name }}
        </h2>
    </div>
    <div class="queryset-action-bar">
        {% if data.actions.model %}
            {% include "adm/actions.html" with uuid=data.uuid target="model" actions=data.actions.model  %}
        {% endif %}
    </div>
    <div class="search-and-filters">
        <form method="get" id="form-{{ data.uuid }}" action="{{ data.path }}">
            <input type="hidden" name="uuid" value="{{ data.uuid }}">
            <input type="hidden" name="subset" value="all" id="subset-{{ data.uuid }}">
            {% if data.metadata.search %}
            <div class="filter">
                <label>Busca:</label>
                <input type="text" pattern=".{3,}" name="q" value="{{ request.GET.q|default:'' }}" id="searchbar" title="3 ou mais caracteres">
            </div>
            {% endif %}
            {% for name, metadata in data.metadata.filters.items %}
            <div class="filter">
                <label>{{ name }}:</label>
                {% if metadata.type == "choices" %}
                <select name="{{ metadata.key }}" class="{{ metadata.key }}-{{ data.uuid }}">
                    {% if metadata.choices %}
                        <option value=""></option>
                        {% for choice in metadata.choices %}
                            <option value="{{ choice.id }}">{{ choice.text }}</option>
                        {% endfor %}
                    {% else %}
                        {% if metadata.value %}
                            <option selected value="{{ value }}">{{ metadata.value }}</option>
                        {% endif %}
                    {% endif %}
                </select>
                <script>
                       $('.{{ metadata.key }}-{{ data.uuid }}').select2({
                        width: 'resolve',
                          language: 'pt-BR',
                          allowClear: true,
                          placeholder: 'Selecione uma opção',
                          {% if metadata.choices is None %}
                          ajax: {
                            url: "/adm{{ data.path }}?choices={{ metadata.key }}",
                            dataType: 'json',
                            delay: 250,
                            minimumInputLength: 3,
                            data: function (params) {
                              return { term: params.term };
                            },
                            processResults: function (data) {
                              return { results: data.items };
                            },
                            templateResult: function (data) {
                                return data.html || 'Buscando...';
                            },
                            templateSelection: function (data) {
                                return data.text;
                            }
                          }
                          {% endif %}
                       });
                </script>
                {% endif %}
                {% if metadata.type == "boolean" %}
                <select name="{{ metadata.key }}" class="{{ metadata.key }}-{{ data.uuid }}">
                    <option></option>
                    <option {% if metadata.value == True %}selected{% endif %} value="1">Sim</option>
                    <option {% if metadata.value == False %}selected{% endif %} value="0">Não</option>
                </select>
                <script>
                       $('.{{ metadata.key }}-{{ data.uuid }}').select2({
                        language: 'pt-BR',
                        allowClear: true,
                        placeholder: 'Selecione uma opção',
                       });
                </script>
                {% endif %}
                {% if metadata.type == "date" or metadata.type == "datetime" %}
                <!--<i class="fa fa-calendar"></i>-->
                <input type="text" name="{{ metadata.key }}" class="{{ metadata.key }}-{{ data.uuid }}"
                       placeholder="Informe um data" style="padding-left:10px">
                <script>
                        $(function() {
                            $('.{{ metadata.key }}-{{ data.uuid }}').datepicker();
                            $('.{{ metadata.key }}-{{ data.uuid }}').datepicker( "option", "dateFormat", 'dd/mm/yy');
                            $('.{{ metadata.key }}-{{ data.uuid }}').datepicker( "option", "width", '');
                            $('.{{ metadata.key }}-{{ data.uuid }}').datepicker("option", $.datepicker.regional['pt-BR']);
                        });

                </script>
                {% endif %}
            </div>
            {% endfor %}
            <div class="submit-panel">
                <button type="button" class="btn btn-outline-primary" onclick="reloadQueryset{{ data.uuid }}($('#subset-{{ data.uuid }}').val())">Filtrar</button>
            </div>
        </form>
    </div>

    <script>
        function reloadQueryset{{ data.uuid }}(subset){
            if(subset==null) subset = 'all';
            $('#subset-{{ data.uuid }}').val(subset);
            $('#tabs-container-{{ data.uuid }}').find('.nav-link').removeClass('active').find('.badge').addClass('text-white').addClass('bg-primary').removeClass('text-primary').removeClass('bg-white');
            $('#tabs-container-{{ data.uuid }}').find('.nav-link.'+subset).addClass('active').find('.badge').removeClass('text-white').removeClass('bg-primary').addClass('bg-white').addClass('text-primary');
            var data = $('#form-{{ data.uuid }}').serialize();
            $.ajax({
                url:'/adm{{ data.path }}',
                data:data,
                success:function( html ) {
                    $('#queryset-data-{{ data.uuid }}').html(html);
                }
            });
        }
        function toggleActions{{ data.uuid }}(input){
            if(input.value=='on') $('#queryset-{{ data.uuid }}').find('.action-checkbox').prop('checked', input.checked);
            if($('#queryset-{{ data.uuid }}').find('.action-checkbox:checked').length>0){
                $('#queryset-{{ data.uuid }}').find('.dropdown-toggle.queryset').removeClass('disabled');
                $('#queryset-{{ data.uuid }}').find('.dropdown-toggle.instance, .dropdown-toggle.model').addClass('disabled');
                $('#queryset-{{ data.uuid }}').find('.btn.instance, .btn.model').addClass('disabled');
                $('#queryset-{{ data.uuid }}').find('.btn.queryset').removeClass('disabled');
            } else {
                $('#queryset-{{ data.uuid }}').find('.dropdown-toggle.queryset').addClass('disabled');
                $('#queryset-{{ data.uuid }}').find('.dropdown-toggle.model, .dropdown-toggle.instance').removeClass('disabled');
                $('#queryset-{{ data.uuid }}').find('.btn.instance, .btn.model').removeClass('disabled');
                $('#queryset-{{ data.uuid }}').find('.btn.queryset').addClass('disabled');
            }
        }
    </script>

    {% if data.attach %}
    <div class="tabs-container" id="tabs-container-{{ data.uuid }}">
        <ul class="nav nav-pills">
            {% for subset in data.attach.values %}
          <li class="nav-item">
            <a class="nav-link {{ subset.key }} {% if subset.active %}active{% endif %}" aria-current="page" href="javascript:" onclick="$('.pagination-{{ data.uuid }}').val('').trigger('change');reloadQueryset{{ data.uuid }}('{{ subset.key }}')">
                {{ subset.name }}
                <span class="badge rounded-pill {% if subset.active %}text-primary bg-white{% else %}text-white bg-primary{% endif %}">{{ subset.count }}</span>
            </a>
          </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="queryset-data" id="queryset-data-{{ data.uuid }}">
{% endif %}
        {% if data.data %}
            <table class="table" style="overflow-x:auto">
                <thead>
                <tr>
                    {% if data.actions.queryset %}
                    <th scope="col" width="10px">
                        <input type="checkbox" class="action-checkbox form-check-input" onclick="toggleActions{{ data.uuid }}(this)">
                    </th>
                    {% endif %}
                    <td scope="col" width="30px"></td>
                    {% for label, display in data.metadata.display.items %}
                    <th scope="col">{{ display.name }}</th>
                    {% endfor %}
                    {% if data.actions.instance %}
                        <th scope="col">Ações</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for id, row in data.data %}
                <tr>
                    {% if data.actions.queryset %}
                    <th scope="col" class="align-middle">
                        <input type="checkbox" class="action-checkbox form-check-input" value="{{ id }}" onclick="toggleActions{{ data.uuid }}(this)">
                    </th>
                    {% endif %}
                    <td class="align-middle">
                        <a type="button" class="btn btn-outline-primary btn-circle" href="/adm{{ data.path }}{{ id }}/">
                            <i class="bi bi-search"></i>
                        </a>
                    </td>
                    {% for k, v in row.items %}
                    <td class="align-middle">{{ v|format }}</td>
                    {% endfor %}
                    {% if data.actions.instance %}
                    <td class="align-middle">
                        {% include "adm/actions.html" with uuid=data.uuid target="instance" actions=data.actions.instance  %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if data.actions.queryset %}
                {% include "adm/actions.html" with uuid=data.uuid target="queryset" actions=data.actions.queryset  %}
            {% endif %}
        {% else %}
            <div class="alert alert-primary" role="alert" style="margin-top:30px;">
              Nehum registro encontrado.
            </div>
        {% endif %}
{% if uuid is None %}
    </div>
    {% if inner %}
        </div></div>
    {% endif %}
</div>
{% endif %}