<div class="row">
    <div class="{% if append %}col-lg-9 col-md-8 col-sm-12{% else %}col{% endif %}">

        <div class="fieldset-title">
            {% if name %}
                <h2>
                    {% if icon %}
                        <i class="bi bi-{{ icon }}"></i>
                    {% endif %}
                    {{ name }}
                </h2>
            {% endif %}
        </div>
        <div class="fieldset-action-bar" style="margin-right:18px">
              {% if actions %}
                  {% include "adm/actions.html" with uuid=uuid target="model" actions=actions   %}
              {% endif %}
        </div>

        {% if attach %}
        <ul class="nav justify-content-center">
            {% for item in attach %}
              <li class="nav-item">
                <a class="nav-link" href="/adm{{ item.path }}">{{ item.name }}</a>
              </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% for name, item in data.items %}
            <div class="fieldset">
                {% if item.type == 'fieldsets' %}
                    <div class="fieldset-title">
                        <h5>{{ item.name }}</h5>
                    </div>
                    <div class="fieldset-action-bar" style="margin-right:18px">
                          {% if item.actions %}
                              {% include "adm/actions.html" with uuid=item.uuid target="model" actions=item.actions   %}
                          {% endif %}
                    </div>
                    <ul class="nav nav-tabs fieldset-tabs" id="fieldset-tabs-{{ item.uuid }}">
                      {% for name, fieldset in item.data.items %}
                          <li class="nav-item">
                              <a class="nav-link {{ name|slugify }} {% if forloop.first %}active{% endif %}" aria-current="page" href="javascript:" onclick="reloadTab{{ item.uuid }}('{{ name|slugify }}', '{{ fieldset.path }}')">
                                  <div class="spinner-border spinner-border-sm d-none" role="status">
                                      <span class="visually-hidden">Loading...</span>
                                  </div>
                                  {{ name }}
                              </a>
                          </li>
                      {% endfor %}
                    </ul>
                    <script>
                        function reloadTab{{ item.uuid }}(tab, path){
                            $(document.body).addClass('page-loading');
                            $('#fieldset-tabs-{{ item.uuid }}').find('.nav-link.'+tab).find('.spinner-border').removeClass('d-none');
                            $.ajax({
                                url:'/adm'+path,
                                data:{},
                                success:function( html ) {
                                    $('#fieldset-tab').html(html);
                                    $('#fieldset-tabs-{{ item.uuid }}').find('.nav-link').removeClass('active');
                                    $('#fieldset-tabs-{{ item.uuid }}').find('.nav-link.'+tab).addClass('active');
                                    $(document.body).removeClass('page-loading');
                                    $('#fieldset-tabs-{{ item.uuid }}').find('.nav-link.'+tab).find('.spinner-border').addClass('d-none');
                                }
                            });
                        }
                     </script>
                    <div class="fieldset-tab" id="fieldset-tab">
                    {% for fieldset in item.data.values %}
                        {% if forloop.first %}
                            {% include 'adm/fieldset.html' with fieldset=fieldset %}
                        {% endif %}
                    {% endfor %}
                    </div>
                {% else %}
                    {% include 'adm/fieldset.html' with fieldset=item %}
                {% endif %}
            </div>
        {% endfor %}

    </div>
    {% if append %}
    <div class="col-lg-3 col-md-4 col-sm-12 fieldset-side-panel">
        {% for name, item in append.items %}
            {% include 'adm/fieldset.html' with fieldset=item %}
        {% endfor %}
    </div>
    {% endif %}
  </div>




