<style>
    .model-card .content {
        margin-left: 30px;
        text-align: left;
    }
    .model-card .content a{
        text-decoration: none;
        color: #212529;
    }
    .model-card {
        background-color: #f8f9fa;
        border-radius: 10px;
        -webkit-transition: 0.5s;
        padding: 10px;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        height: 120px;
    }
    .model-card i{
        font-size: 90px;
        float:left;
        margin-left: 20px;
        margin-right: 20px;
    }
</style>

<div class="row">
    {% for item in items %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="model-card">
                <div class="icon">
                    <i class="bi bi-{{ item.icon }}"></i>
                </div>
                <div class="content">
                    <a href="{{ item.url }}">
                    <h3><span class="counter">{{ item.count }}</span> </h3>
                    <p>{{ item.label }}</p>
                        </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
