{% load tags %}
{% if not request|is_ajax %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ settings.NAME }}</title>
    <link rel="manifest" href="/static/manifest.json?v=0.0.2">
    <link rel="icon" sizes="192x192" href="{{ settings.LOGO }}">
    <link rel="apple-touch-icon" sizes="128x128" href="{{ settings.LOGO }}">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-icons.css">
    <link href="/static/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link href="/static/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/sloth.css?v=0.0.2" />
    {% for url in settings.CSS %}
      <link rel="stylesheet" href="{{ url }}?v=0.0.2" />
    {% endfor %}

    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/select2.min.js"></script>
    <script src="/static/js/i18n/pt-BR.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/masonry.pkgd.min.js"></script>
    <script src="/static/js/sloth.js?v=1.0.0"></script>
    <script src="/static/js/jquery.binarytransport.js"></script>
    <script src="/static/js/jquery.mask.min.js"></script>
    <script src="/static/js/jquery.timepicker.js"></script>

    {% block extrahead %} {% endblock %}
  </head>
  <body style="visibility:hidden">

    {% block nav %}
      {% include "adm/header.html" %}
    {% endblock %}

    <main class="{% if request|mobile %}small-{% endif %}margin">
{% endif %}

{% block content %}
{% endblock %}
{% include "adm/messages.html" %}
{% for url in settings.JS %}
      <script src="{{ url }}"></script>
{% endfor %}
      <script src="/static/js/tests.js"></script>
{% if not request|is_ajax %}
    </main>
    {% include "adm/footer.html" %}
    {% include "adm/modal.html" %}
    {% include "adm/dashboard/bottom.html" %}
  </body>
</html>
{% endif %}
