<div class="fieldset-title">
    <h5>{{ item.name }}</h5>
</div>
<div class="fieldset-action-bar" style="margin-right:18px">
      {% if item.actions %}
          {% include "adm/actions.html" with uuid=item.uuid target="model" actions=item.actions   %}
      {% endif %}
</div>
<ul class="nav nav-tabs fieldset-tabs" id="fieldset-list-{{ item.uuid }}">
  {% for name, fieldset in item.data.items %}
      <li class="nav-item">
          <a class="nav-link {{ name|slugify }} {% if forloop.first %}active{% endif %}" aria-current="page"
             href="javascript:" onclick="reloadFieldsetList{{ item.uuid }}('{{ name|slugify }}', '{{ fieldset.path }}?title_class=d-none')">
              <div class="spinner-border spinner-border-sm d-none" role="status">
                  <span class="visually-hidden">Loading...</span>
              </div>
              <span class="nav-link-text">{{ name }}</span>
          </a>
      </li>
  {% endfor %}
</ul>
<script>
    function reloadFieldsetList{{ item.uuid }}(tab, path){
        $(document.body).addClass('page-loading');
        $('#fieldset-list-{{ item.uuid }}').find('.nav-link.'+tab).find('.spinner-border').removeClass('d-none');
        $.ajax({
            url:'/adm'+path,
            data:{},
            success:function( html ) {
                $('#fieldset-list').html(html).initialize();
                $('#fieldset-list-{{ item.uuid }}').find('.nav-link').removeClass('active');
                $('#fieldset-list-{{ item.uuid }}').find('.nav-link.'+tab).addClass('active');
                $(document.body).removeClass('page-loading');
                $('#fieldset-list-{{ item.uuid }}').find('.nav-link.'+tab).find('.spinner-border').addClass('d-none');
            }
        });
    }
 </script>
<div class="fieldset-tab" id="fieldset-list">
{% for name, item in item.data.items %}
    {% if forloop.first %}
        {% include 'adm/fieldset.html' with fieldset=item title_class="d-none" %}
    {% endif %}
{% endfor %}
</div>