{% load tags %}
{% if fieldset.type == 'fieldset' %}
    {% if fieldset.template %}
        {% include fieldset.template with data=data %}
    {% else %}
      <div class="card">
        <div class="card-body">
          <div class="fieldset-title" onclick="$('#{{ fieldset.name|slugify }}').slideToggle();">
              <h5>
                  <i class="bi bi-chevron-down"></i>
                  {{ fieldset.name }}
              </h5>
          </div>
          <div class="fieldset-action-bar">
              {% if fieldset.actions %}
                  {% include "adm/actions.html" with uuid=data.uuid target="model" actions=fieldset.actions   %}
              {% endif %}
          </div>
          <div class="card-text fieldset-data" id="{{ fieldset.name|slugify }}">
              <table width="100%">
                  <tr>
                    {% if fieldset.image %}
                      <td><img class="img-circle" src="{{ fieldset.image }}"/></td>
                    {% endif %}
                    <td>
                      <div class="responsive-container">
                          {% for k, item in fieldset.data.items %}
                            <div class="fieldset-field width-{{ item.width }}">
                                <b>{{ k }}:</b><br>{{ item.value|format }}
                            </div>
                          {% endfor %}
                      </div>
                    </td>
                  </tr>
              </table>
          </div>
        </div>
      </div>
    {% endif %}
{% endif %}

{% if fieldset.type == 'queryset' %}
    <div class="card">
        <div class="card-body">
        {% include 'adm/queryset/queryset.html' with data=fieldset %}
        </div>
    </div>
{% endif %}

{% if fieldset.type == 'statistics' %}
    <div class="card">
        <div class="card-body">
            <h5>{{ fieldset.name }}</h5>
            {% include 'adm/statistics.html' with data=fieldset %}
        </div>
    </div>
{% endif %}

