{% if request.user.is_authenticated and not request.GET.modal %}
    <nav class="navbar navbar-expand" style="">
      <div class="container-fluid">
        <a class="navbar-brand" href="/adm/">
          {% if settings.LOGO %}
          <img height="30" src="{{ settings.LOGO }}">
          {% endif %}
        </a>
        <div class="collapse navbar-collapse">
          <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search" onkeyup="search(this)"  onfocus="search(this)" style="{% if not request.session.menu  %}visibility:hidden{% endif %}">
          {% include "adm/menu.html" %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{{ request.user }}" style="white-space:nowrap">
                {{ request.user }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                {% if request.user.is_superuser %}
                <li><a class="dropdown-item" href="/adm/icons/">Icones</a></li>
                <li><hr class="dropdown-divider"></li>
                {% endif %}
                <li><a class="dropdown-item" href="/adm/logout/">Sair</a></li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </nav>
{% endif %}