{% extends super_template|default:"adm/base.html" %}

{% block content %}
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center">
      <div align="center">
        {% if settings.LOGIN_IMAGE %}
          <img src="{{ settings.LOGIN_IMAGE }}" class="img-fluid" alt="{{ settings.NAME }}">
        {% else %}
          <h1>{{ settings.NAME }}</h1>
        {% endif %}
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        {{ form }}
      </div>
    </div>
  </div>
</section>
{% endblock %}
