{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show messages" role="alert" onclick="$(this).css('display', 'none')">
    <strong>Atenção!</strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<script>
    function dismissMessage(){
        if($(".alert-dismissible").clss('display') != 'none'){
            $(".alert-dismissible").fadeTo(2000, 500).slideUp(500, function(){
                $(".alert-dismissible").slideUp(500);
            });
        }
    }
    setTimeout(dismissMessage, 3000);
</script>
{% endif %}