<div class="row clearfix">
    <div class="{% if append %}col-lg-9 col-md-8 col-sm-12{% else %}col{% endif %}">

        <div class="valueset-title">
            {% if name %}
                <h2>
                    {% if icon %}
                        <i class="bi bi-{{ icon }}"></i>
                    {% endif %}
                    {{ name }}
                </h2>
            {% endif %}
        </div>
        <div class="valueset-action-bar" style="margin-right:18px">
              {% if actions %}
                  {% include "adm/actions.html" with uuid=uuid target="model" actions=actions   %}
              {% endif %}
        </div>

        {% if attach %}
        <ul class="nav justify-content-center">
            {% for item in attach %}
              <li class="nav-item">
                <a class="nav-link" href="/adm{{ item.path }}">{{ item.name }}</a>
              </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% for name, item in data.items %}
            <div class="fieldset">
                {% if item.type == 'fieldsets' %}
                    {% include 'adm/fieldsets.html' with item=item %}
                {% else %}
                    {% include 'adm/fieldset.html' with fieldset=item %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% if append %}
    <div class="col-lg-3 col-md-4 col-sm-12 fieldset-side-panel">
        {% for name, item in append.items %}
            {% include 'adm/fieldset.html' with fieldset=item compact=True %}
        {% endfor %}
    </div>
    {% endif %}
</div>




