<div class="row clearfix">
    <div class="{% if append %}col-lg-9 col-md-8 col-sm-12{% else %}col{% endif %}">
        <div>
        <div class="valueset-title">
            {% if name %}
                <h2>
                    {% if icon %}
                        <i class="bi bi-{{ icon }}"></i>
                    {% endif %}
                    {{ name }}
                </h2>
            {% endif %}
        </div>
        <div class="valueset-action-bar">
              {% if actions %}
                  {% include "adm/actions.html" with uuid=uuid target="model" actions=actions   %}
              {% endif %}
        </div>
        </div>

        <div style="clear:both">
            {% if attach %}
            <ul class="nav justify-content-center">
                {% for item in attach %}
                  <li class="nav-item">
                    <a class="nav-link" href="/adm{{ item.path }}">{{ item.name }}</a>
                  </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        {% for name, item in data.items %}
            <div class="fieldset">
                {% if item.type == 'fieldset-group' %}
                    {% include 'adm/fieldset-group.html' with item=item %}
                {% endif %}
                {% if item.type == 'fieldset-list' %}
                    {% include 'adm/fieldset-list.html' with item=item %}
                {% endif %}
                {% if item.type == 'fieldset' %}
                    {% include 'adm/fieldset.html' with fieldset=item %}
                {% endif %}
                {% if item.type == 'queryset' %}
                    {% include 'adm/fieldset.html' with fieldset=item %}
                {% endif %}
                {% if item.type == 'statistics' %}
                    {% include 'adm/fieldset.html' with fieldset=item %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% if append %}
    <div class="col-lg-3 col-md-4 col-sm-12 fieldset-side-panel">
        {% for name, item in append.items %}
            {% include 'adm/fieldset.html' with fieldset=item compact=True %}
        {% endfor %}
    </div>
    {% endif %}
</div>




