<div class="filter {% if metadata.hidden %}d-none{% endif %}">
    <label>{{ name|truncatechars:25 }}</label>
    {% if metadata.type == "choices" %}
    <select name="{{ metadata.key }}" class="{{ metadata.key }}-{{ data.uuid }}">
        {% if metadata.choices %}
            <option value=""></option>
            {% for choice in metadata.choices %}
                <option value="{{ choice.id|stringformat:'s' }}">{{ choice.text }}</option>
            {% endfor %}
        {% else %}
            {% if metadata.value %}
                <option selected value="{{ value }}">{{ metadata.value }}</option>
            {% endif %}
        {% endif %}
    </select>
    <script>
       $('.{{ metadata.key }}-{{ data.uuid }}').select2({
        width: 'resolve',
          language: 'pt-BR',
          allowClear: true,
          placeholder: 'Selecione uma opção',
          {% if metadata.choices is None %}
          ajax: {
            url: function () {return "/app/queryset/?"+$('#form-{{ data.uuid }}').serialize()+'&choices={{ metadata.key }}';},
            dataType: 'json',
            delay: 250,
            minimumInputLength: 3,
            data: function (params) {
              return { term: params.term };
            },
            processResults: function (data) {
              return { results: data.items };
            },
            templateResult: function (data) {
                return data.html || 'Buscando...';
            },
            templateSelection: function (data) {
                return data.text;
            }
          }
          {% endif %}
       });
    </script>
    {% endif %}
    {% if metadata.type == "boolean" %}
    <select name="{{ metadata.key }}" class="{{ metadata.key }}-{{ data.uuid }}">
        <option></option>
        <option {% if metadata.value == True %}selected{% endif %} value="1">Sim</option>
        <option {% if metadata.value == False %}selected{% endif %} value="0">Não</option>
    </select>
    <script>
           $('.{{ metadata.key }}-{{ data.uuid }}').select2({
            language: 'pt-BR',
            allowClear: true,
            placeholder: 'Selecione uma opção',
           });
    </script>
    {% endif %}
    {% if metadata.type == "date" or metadata.type == "datetime" %}
    <input type="text" name="{{ metadata.key }}" class="form-control {{ metadata.key }}-{{ data.uuid }}"
           placeholder="Informe um data" style="padding-left:10px">
    <script>
            $(function() {
                $('.{{ metadata.key }}-{{ data.uuid }}').datepicker($.datepicker.regional['pt-BR']);
                $('.{{ metadata.key }}-{{ data.uuid }}').datepicker( "option", "dateFormat", 'dd/mm/yy');
                $('.{{ metadata.key }}-{{ data.uuid }}').datepicker( "option", "width", '');
            });
    </script>
    {% endif %}
</div>