{% load tags %}
<style>
{% if not data.metadata.is_admin  %}
    .search-and-filters .filters{
        display: none;
    }
{% endif %}
{% if compact or request.GET.compact or request|mobile %}
    .search-and-filters .filter {
        width: 100% !important;
    }
{% else %}
    .search-and-filters .filter {
        width: 250px !important;
    }
{% endif %}
</style>
{% if data.metadata.pagination.total %}
    {% if data.metadata.search or data.metadata.filters %}
        <div class="search-and-filters">
            <form method="get" id="form-{{ data.uuid }}" action="/app{{ data.path }}">
                <input type="hidden" name="uuid" value="{{ data.uuid }}">
                <input type="hidden" name="is_admin" value="{% if data.metadata.is_admin %}1{% endif %}">
                <input type="hidden" name="page" value="{{ data.page }}" id="pagination-{{ data.uuid }}">
                <input type="hidden" name="compact" value="{% if compact or request.GET.compact or request|mobile %}1{%endif%}">
                <input type="hidden" name="subset" value="all" id="subset-{{ data.uuid }}">
                <input type="hidden" name="selected-date" value="" id="selected-date-{{ data.uuid }}">

                {% if data.metadata.search or data.metadata.filters %}
                    <div class="filters" id="filters-{{ data.uuid }}">
                        {% if data.metadata.search %}
                            <div class="filter">
                                <label>Busca</label>
                                <input type="text" class="form-control" pattern=".{3,}" name="q" value="{{ request.GET.q|default:'' }}" id="searchbar" title="3 ou mais caracteres" onkeypress="if(event.which==13){reload{{ data.uuid }}(false);return false;}" placeholder="">
                            </div>
                        {% endif %}
                        {% for name, metadata in data.metadata.filters.items %}
                            <div class="filter {% if metadata.hidden %}d-none{% endif %}">
                                <label>{{ name|truncatechars:25 }}</label>
                                {% if metadata.type == "choices" %}
                                <select name="{{ metadata.key }}" class="{{ metadata.key }}-{{ data.uuid }}">
                                    {% if metadata.choices %}
                                        <option value=""></option>
                                        {% for choice in metadata.choices %}
                                            <option value="{{ choice.id|stringformat:'s' }}">{{ choice.text }}</option>
                                        {% endfor %}
                                    {% else %}
                                        {% if metadata.value %}
                                            <option selected value="{{ value }}">{{ metadata.value }}</option>
                                        {% endif %}
                                    {% endif %}
                                </select>
                                <script>
                                   $('.{{ metadata.key }}-{{ data.uuid }}').select2({
                                    width: 'resolve',
                                      language: 'pt-BR',
                                      allowClear: true,
                                      placeholder: 'Selecione uma opção',
                                      {% if metadata.choices is None %}
                                      ajax: {
                                        url: "/app{{ data.path }}?choices={{ metadata.key }}",
                                        dataType: 'json',
                                        delay: 250,
                                        minimumInputLength: 3,
                                        data: function (params) {
                                          return { term: params.term };
                                        },
                                        processResults: function (data) {
                                          return { results: data.items };
                                        },
                                        templateResult: function (data) {
                                            return data.html || 'Buscando...';
                                        },
                                        templateSelection: function (data) {
                                            return data.text;
                                        }
                                      }
                                      {% endif %}
                                   });
                                </script>
                                {% endif %}
                                {% if metadata.type == "boolean" %}
                                <select name="{{ metadata.key }}" class="{{ metadata.key }}-{{ data.uuid }}">
                                    <option></option>
                                    <option {% if metadata.value == True %}selected{% endif %} value="1">Sim</option>
                                    <option {% if metadata.value == False %}selected{% endif %} value="0">Não</option>
                                </select>
                                <script>
                                       $('.{{ metadata.key }}-{{ data.uuid }}').select2({
                                        language: 'pt-BR',
                                        allowClear: true,
                                        placeholder: 'Selecione uma opção',
                                       });
                                </script>
                                {% endif %}
                                {% if metadata.type == "date" or metadata.type == "datetime" %}
                                <input type="text" name="{{ metadata.key }}" class="form-control {{ metadata.key }}-{{ data.uuid }}"
                                       placeholder="Informe um data" style="padding-left:10px">
                                <script>
                                        $(function() {
                                            $('.{{ metadata.key }}-{{ data.uuid }}').datepicker($.datepicker.regional['pt-BR']);
                                            $('.{{ metadata.key }}-{{ data.uuid }}').datepicker( "option", "dateFormat", 'dd/mm/yy');
                                            $('.{{ metadata.key }}-{{ data.uuid }}').datepicker( "option", "width", '');
                                        });
                                </script>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="filter">
                            <button type="button" class="btn btn-primary filter-button" onclick="$(this).find('.spinner-border').removeClass('d-none');$(this).find('i').addClass('d-none');$('#pagination-{{ data.uuid }}').val(1);reload{{ data.uuid }}(false)">
                                <div class="spinner-border spinner-border-sm d-none" role="status">
                                  <span class="visually-hidden">Loading...</span>
                                </div>
                                <i class="bi bi-funnel"></i>
                                Filtrar
                            </button>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
    {% endif %}
{% endif %}