{% load tags %}

{% if not data.metadata.is_admin  %}
<div class="card">
        <div class="card-body">
{% endif %}
<div class="queryset" id="queryset-{{ data.uuid }}">
    {% if data.metadata.collapsed or compact %}
        <div class="queryset-title {{ title_class }} {{ request.GET.title_class }}" style="cursor:pointer" onclick="$('#queryset-container{{ data.uuid }}').slideToggle();$(this).find('i').toggleClass('bi-chevron-down').toggleClass('bi-chevron-right');">
            <h2><i class="bi bi-chevron-down"></i> {{ data.name }}</h2>
        </div>
    {% else %}
        <div class="queryset-title {{ title_class }} {{ request.GET.title_class }}">
            <h2>{% if data.icon %}<i class="bi bi-{{ data.icon }}"></i>{% endif %} {{ data.name }}</h2>
        </div>
    {% endif %}
    <div id="queryset-global-actions-{{ data.uuid }}" class="queryset-action-bar">
        {% include "app/queryset/actions/global.html" %}
    </div>
    <div class="clearfix"></div>
    <div class="queryset-container" id="queryset-container{{ data.uuid }}">
    {% if data.attach %}
    <div class="clearfix"></div>
    <div class="tabs-container mb-2" id="tabs-container-{{ data.uuid }}">
        <ul class="nav nav-pills nav-fill">
            {% for subset in data.attach.values %}
          <li class="nav-item {{ subset.key }} {% if subset.active %}selected{% endif %}">
            <a class="nav-link" aria-current="page" href="javascript:" onclick="$('#pagination-{{ data.uuid }}').val(1);reload{{ data.uuid }}(false, '{{ subset.key }}')">
                <div class="spinner-border spinner-border-sm d-none" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                <span class="nav-link-text">{{ subset.name }}</span>
                <span class="badge rounded-pill text-white bg-primary total-{{ subset.key }}">{{ subset.count }}</span>
            </a>
          </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if data.metadata.pagination.total %}
        {% if data.metadata.search or data.metadata.filters %}
            <div class="search-and-filters">
                <form method="get" id="form-{{ data.uuid }}" action="/app{{ data.path }}">
                    <input type="hidden" name="uuid" value="{{ data.uuid }}">
                    <input type="hidden" name="page" value="{{ data.page }}" id="pagination-{{ data.uuid }}">
                    <input type="hidden" name="compact" value="{% if compact or request.GET.compact or request|mobile %}1{%endif%}">
                    <input type="hidden" name="subset" value="all" id="subset-{{ data.uuid }}">
                    <input type="hidden" name="selected-date" value="" id="selected-date-{{ data.uuid }}">
                    {% if data.metadata.search %}
                    <div class="search-and-filters-controls">
                        <input type="text" pattern=".{3,}" name="q" value="{{ request.GET.q|default:'' }}" id="searchbar" title="3 ou mais caracteres" onkeypress="if(event.which==13){reload{{ data.uuid }}(false);return false;}" placeholder="Digite uma palavra-chave para buscar..." style="width: calc(100% - {% if data.metadata.filters %}200{% else %}102{% endif %}px);">
                        <button type="button" class="btn btn-primary" onclick="$(this).find('.spinner-border').removeClass('d-none');$(this).find('i').addClass('d-none');$('#pagination-{{ data.uuid }}').val(1);reload{{ data.uuid }}(false)">
                            <div class="spinner-border spinner-border-sm d-none" role="status">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                            <i class="bi bi-search"></i> Buscar
                        </button>
                        {% if data.metadata.filters %}
                        <a href="javascript:" onclick="javascript:slideSearchAndFilters{{ data.uuid }}(this)">
                            <i class="bi bi-funnel"></i> Filtros
                            <i class="bit bi-chevron-down"></i>
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if data.metadata.filters %}
                        <div id="filters-{{ data.uuid }}" style="display:none">
                            {% for name, metadata in data.metadata.filters.items %}
                                <div class="filter {% if metadata.hidden %}d-none{% endif %}">
                                    <label>{{ name|truncatechars:25 }}</label>
                                    {% if metadata.type == "choices" %}
                                    <select name="{{ metadata.key }}" class="{{ metadata.key }}-{{ data.uuid }}">
                                        {% if metadata.choices %}
                                            <option value=""></option>
                                            {% for choice in metadata.choices %}
                                                <option value="{{ choice.id|stringformat:'s' }}">{{ choice.text }}</option>
                                            {% endfor %}
                                        {% else %}
                                            {% if metadata.value %}
                                                <option selected value="{{ value }}">{{ metadata.value }}</option>
                                            {% endif %}
                                        {% endif %}
                                    </select>
                                    <script>
                                       $('.{{ metadata.key }}-{{ data.uuid }}').select2({
                                        width: 'resolve',
                                          language: 'pt-BR',
                                          allowClear: true,
                                          placeholder: 'Selecione uma opção',
                                          {% if metadata.choices is None %}
                                          ajax: {
                                            url: "/app{{ data.path }}?choices={{ metadata.key }}",
                                            dataType: 'json',
                                            delay: 250,
                                            minimumInputLength: 3,
                                            data: function (params) {
                                              return { term: params.term };
                                            },
                                            processResults: function (data) {
                                              return { results: data.items };
                                            },
                                            templateResult: function (data) {
                                                return data.html || 'Buscando...';
                                            },
                                            templateSelection: function (data) {
                                                return data.text;
                                            }
                                          }
                                          {% endif %}
                                       });
                                    </script>
                                    {% endif %}
                                    {% if metadata.type == "boolean" %}
                                    <select name="{{ metadata.key }}" class="{{ metadata.key }}-{{ data.uuid }}">
                                        <option></option>
                                        <option {% if metadata.value == True %}selected{% endif %} value="1">Sim</option>
                                        <option {% if metadata.value == False %}selected{% endif %} value="0">Não</option>
                                    </select>
                                    <script>
                                           $('.{{ metadata.key }}-{{ data.uuid }}').select2({
                                            language: 'pt-BR',
                                            allowClear: true,
                                            placeholder: 'Selecione uma opção',
                                           });
                                    </script>
                                    {% endif %}
                                    {% if metadata.type == "date" or metadata.type == "datetime" %}
                                    <input type="text" name="{{ metadata.key }}" class="{{ metadata.key }}-{{ data.uuid }}"
                                           placeholder="Informe um data" style="padding-left:10px">
                                    <script>
                                            $(function() {
                                                $('.{{ metadata.key }}-{{ data.uuid }}').datepicker($.datepicker.regional['pt-BR']);
                                                $('.{{ metadata.key }}-{{ data.uuid }}').datepicker( "option", "dateFormat", 'dd/mm/yy');
                                                $('.{{ metadata.key }}-{{ data.uuid }}').datepicker( "option", "width", '');
                                            });
                                    </script>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <button type="button" class="btn btn-primary filter-button" onclick="$(this).find('.spinner-border').removeClass('d-none');$(this).find('i').addClass('d-none');$('#pagination-{{ data.uuid }}').val(1);reload{{ data.uuid }}(false)">
                                <div class="spinner-border spinner-border-sm d-none" role="status">
                                  <span class="visually-hidden">Loading...</span>
                                </div>
                                Aplicar Filtros
                            </button>
                        </div>
                    {% endif %}
                </form>
            </div>
        {% endif %}
    {% endif %}
    <div class="clearfix"></div>

    <script>
        function reload{{ data.uuid }}(attaches, subset){
            $(document.body).addClass('page-loading');
            if(attaches==null) attaches = true;
            if(subset==null) subset = $('#subset-{{ data.uuid }}').val();
            else $('#subset-{{ data.uuid }}').val(subset);
            $('#tabs-container-{{ data.uuid }}').find('.nav-item.'+subset).find('.spinner-border').removeClass('d-none');
            $('#tabs-container-{{ data.uuid }}').find('.nav-item').removeClass('selected')
            $('#tabs-container-{{ data.uuid }}').find('.nav-item.'+subset).addClass('selected')
            var data = $('#form-{{ data.uuid }}').serialize();
            $.ajax({
                url:'/app{{ data.path }}',
                data:data,
                success:function( html ) {
                    var remote = $(html);
                    $('#queryset-data-{{ data.uuid }}').html(
                        remote.find('#queryset-data-{{ data.uuid }}').html()
                    ).initialize();
                    $('#queryset-global-actions-{{ data.uuid }}').html(
                        remote.find('#queryset-global-actions-{{ data.uuid }}').html()
                    ).initialize();
                    $(document.body).removeClass('page-loading');
                    $('#queryset-{{ data.uuid }}').find('.spinner-border').addClass('d-none');
                    $('#queryset-{{ data.uuid }}').find('i').removeClass('d-none');
                    $('#tabs-container-{{ data.uuid }}').find('.nav-item.'+subset).find('.spinner-border').addClass('d-none');
                }
            });
            {% if data.attach %}
            if(attaches){
                $.ajax({
                    dataType: 'json',
                    url: '/app{{ data.path }}?attaches=',
                    success:function( totals ) {
                        for (const [key, value] of Object.entries(totals)) {
                            if(value.count!=null) $('#tabs-container-{{ data.uuid }}').find('.total-'+key).html(value.count);
                        }
                    }
                });
            }
            {% endif %}
        }
        function toggleActions{{ data.uuid }}(input){
            if(input.value=='on') $('#queryset-{{ data.uuid }}').find('.action-checkbox').prop('checked', input.checked);
            if($('#queryset-{{ data.uuid }}').find('.action-checkbox:checked').length>0){
                $('#queryset-{{ data.uuid }}').find('.dropdown-toggle.queryset').removeClass('disabled');
                $('#queryset-{{ data.uuid }}').find('.dropdown-toggle.instance, .dropdown-toggle.model').addClass('disabled');
                $('#queryset-{{ data.uuid }}').find('.btn.instance, .btn.model').addClass('disabled');
                $('#queryset-{{ data.uuid }}').find('.btn.queryset').removeClass('disabled');
            } else {
                $('#queryset-{{ data.uuid }}').find('.dropdown-toggle.queryset').addClass('disabled');
                $('#queryset-{{ data.uuid }}').find('.dropdown-toggle.model, .dropdown-toggle.instance').removeClass('disabled');
                $('#queryset-{{ data.uuid }}').find('.btn.instance, .btn.model').removeClass('disabled');
                $('#queryset-{{ data.uuid }}').find('.btn.queryset').addClass('disabled');
            }
        }
        function slideSearchAndFilters{{ data.uuid }}(a){
            if(a) $(a).find('i:last-child').toggleClass('bi-chevron-up').toggleClass('bi-chevron-down');
            if($('#filters-{{ data.uuid }}').css('display') == 'none'){
                $('#filters-{{ data.uuid }}').slideDown();
            } else {
                $('#filters-{{ data.uuid }}').slideUp();
            }
        }
    </script>

    <div class="queryset-data" id="queryset-data-{{ data.uuid }}">


{% if data.metadata.calendar %}
    {% include "app/queryset/calendar.html" with data=data %}
{% endif %}

{% if data.metadata.pagination.total %}
{% if data.metadata.pagination.pages|length > 1 %}
<div class="clearfix" id="pagination-info-{{ data.uuid }}">
    <div class="float-start">
        <div class="mt-3 mb-3">
            Exibindo {{ data.metadata.pagination.interval }} de
            <strong>
                {{ data.metadata.pagination.total }} registro{% if data.metadata.pagination.total > 1 %}s{% endif %}
            </strong>
        </div>
    </div>
    <div class="float-end">
        <div class="mt-3 mb-3">
            <!--<a href="/app{{ data.path }}?export=csv"><i class="bi bi-download"></i></a>-->
            <!--<a href="/app{{ data.path }}?export=xls"><i class="bi bi-file-excel"></i></a>-->
            <!--<a href="/app{{ data.path }}?export=pdf"><i class="bi bi-file-earmark-pdf"></i></a>-->
            {% if data.metadata.filters and not data.metadata.search %}
            <a href="javascript:"><i class="bi bi-funnel" onclick="slideSearchAndFilters{{ data.uuid }}()"></i></a>
            {% endif %}
            <a href="javascript:"><i class="bi bi-arrow-clockwise" onclick="reload{{ data.uuid }}(false);"></i></a>
        </div>
    </div>
</div>
{% endif %}

{% if data.metadata.total is not None %}
<div class="float-end">
    <h3>Total: {{ data.metadata.total|format }}</h3>
</div>
<div class="clear-fix">&nbsp;</div>
{% endif %}

{% endif %}

{% if data.template %}
    {% include data.template with data=data %}
{% else %}
    {% include "app/queryset/datatable.html" with data=data %}
{% endif %}
{% include "app/queryset/actions/batch.html" %}
{% if data.metadata.pagination.pages|length > 1 %}

    <nav aria-label="Page navigation example">
  <ul class="pagination" style="overflow-x:hidden">
    {% for page in data.metadata.pagination.pages %}
       {% if forloop.counter|add:3 == data.metadata.pagination.pages|length and not forloop.counter == 5 %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a>
        </li>
       {% endif %}
        <li class="page-item {% if page == data.metadata.pagination.page %}active{% endif %}">
            <a class="page-link" href="javascript:" onclick="$('#pagination-{{ data.uuid }}').val({{ page|stringformat:'s' }});reload{{ data.uuid }}(false);document.getElementById('pagination-info-{{ data.uuid }}').scrollIntoView();">
                {{ page }}
            </a>
        </li>
      {% if forloop.counter == 4 %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
{% endif %}

    </div>
    </div>
</div>
{% if not data.metadata.is_admin  %}
            </div>
    </div>
{% endif %}


