{% load tags %}
{% for key, series in data.normalized.items %}
<style>
    #container-{{ forloop.counter }} .pie-chart {
      background:
        conic-gradient(
          {% for serie in series %}
            {% if forloop.first %}
              {{ serie.color }} {{ serie.end }}%,
            {% endif %}
            {% if not forloop.first and not forloop.last  %}
              {{ serie.color }} {{ serie.start }}% {{ serie.end }}%,
            {% endif %}
            {% if forloop.last %}
              {{ serie.color }} 0
            {% endif %}
          {% endfor %}
        );
      margin: auto;
      border-radius: 50%;
     {% if compact or data.metadata.compact or request.GET.compact or request|mobile %}
          width: 150;
          height: 150;
          margin-top: -62px;
     {% else %}
          width: 300;
          height: 300;
          margin-top: -125px;
     {% endif %}
    }
    #container-{{ forloop.counter }} .pie-center{
      {% if compact or data.metadata.compact or request.GET.compact or request|mobile %}
          top: 50px;
          width: 75px;
          height: 75px;
      {% else %}
          top: 100px;
          width: 150px;
          height: 150px;
      {% endif %}
      position: relative;
      background: #FFF;
      border-radius: 50%;
      margin: auto;
      {% if donut is None %}visibility: hidden;{% endif %}
    }
</style>
<div style="width:100%" id="container-{{ forloop.counter }}">
    {% if key != 'default' %}
    <h5>{{ key }}</h5>
    {% endif %}
    <div class="pie-center"></div>
    <div class="pie-chart"></div>
    {% include "app/charts/legend.html" %}
</div>
<div class="clearfix"></div>
{% endfor %}