{% load tags %}
<style>
.column-chart{
    padding-left:50px;
    overflow-x:scroll;
}
.column-chart-table {
  display: block; /* fixes layout wonkiness in FF1.5 */
  position: relative;
  height: 300px;
  margin-top: 15px;
  padding: 0;
  background: transparent;
  font-size: 11px;
}
.column-chart-table tr, .column-chart-table th, .column-chart-table td {
  position: absolute;
  bottom: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  text-align: center;
}
.column-chart-table td {
  transition: all .3s ease;
}
.column-chart-table td:hover {
    background-color: desaturate(#85144b, 100);
    opacity: .7;
}
.column-chart-table tbody tr {
  height: 296px;
  padding-top: 2px;
  border-right: 1px dotted #C4C4C4;
  color: #AAA;
}
.column-chart-table tbody th {
    bottom: -30px;
    font-weight: normal; color: #333;
    text-align: center;
}
.column-chart-table .bar {
  width: 20px;
  border: 1px solid;
  border-bottom: none;
  color: #000;
  margin-left: 10px;
  border-color: transparent;
  cursor: pointer;
}
.column-chart-table .bar p {
  padding: 5px;
  position: relative;
  top: -20px;
}
.column-chart-ticks {
  position: relative;
  top: -300px;
  height: 330px;
  z-index: 1;
  margin-bottom: -270px;
  font-size: 10px;
}
.column-chart-ticks .tick {
  position: relative;
  border-bottom: 1px dotted #C4C4C4;
}
.column-chart-ticks .tick p {
  position: absolute;
  left: -5em;
  top: -0.8em;
}
.column-chart-legend {
  list-style: none;
  display: table;
  border-collapse: separate;
  text-align: center;
  margin: auto;
  padding-inline-start: 0;
}
.column-chart-legend li{
    display: inline-block;
    margin: 5px;
}
.column-chart-legend .percent {
  color: white;
  text-shadow: 0 0 1px black;
  text-align: center;
  height: 25px;
  width: 40px;
  float: left;
  border-radius: 10%;
}
.column-chart-legend li span {
  padding-left: 10px;
}


</style>
<h3>Column Chart</h3>
<div class="column-chart" style="margin-left: max(0px, 50% - {{ data|column_chart_width|divide:2 }}px);">
    <table class="column-chart-table">
        <tbody>
            {% for key, series in data.series.items %}
            <tr class="qtr" style="width: {{ data|column_chart_serie_width }};left:{{ series|length|multiply:40|multiply:forloop.counter0 }};{% if forloop.last %}border-right: none;{% endif %}">
                <th scope="row" style="width: {{ data|column_chart_serie_width }}">{{ key }}</th>
                {% for serie in series %}
                <td class="bar" style="left: {{ forloop.counter0|multiply:40 }}; background-color: {{ serie.color }};height: {{ serie.percentage|column_chart_height }}px;" data-lookups="{{ serie.lookups }}" onclick="showData{{ uuid }}(this)">
                    <p>{{ serie.value }}</p>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="column-chart-ticks">
        <div class="tick" style="height: 60px;width:{{ data|column_chart_series_width }};"><p>100</p></div>
        <div class="tick" style="height: 60px;width:{{ data|column_chart_series_width }};"><p>80</p></div>
        <div class="tick" style="height: 60px;width:{{ data|column_chart_series_width }};"><p>60</p></div>
        <div class="tick" style="height: 60px;width:{{ data|column_chart_series_width }};"><p>40</p></div>
        <div class="tick" style="height: 60px;width:{{ data|column_chart_series_width }};"><p>20</p></div>
        <div class="tick" style="height: 60px;width:{{ data|column_chart_series_width }};border-bottom:none"><p>0</p></div>
    </div>
</div>
{% for key, series in data.series.items %}
    {% if forloop.first %}
    <ul class="column-chart-legend">
      {% for serie in series %}
      <li>
        <div class="percent" style="background-color:{{ serie.color }}"></div>
        <span class="choice">{{ serie.description }}</span>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
{% endfor %}
<div class="clearfix"></div>
<script>
    function showData{{ uuid }}(serie){
        console.log($(serie).data('lookups'));
    }
</script>