<style>
    .pie-chart{{ uuid }} {
      background:
        conic-gradient(
          {% for serie in data.series.default %}
            {% if forloop.first %}
              {{ serie.color }} {{ serie.percentage }}%,
            {% endif %}
            {% if not forloop.first and not forloop.last  %}
              {{ serie.color }} 0 {{ serie.percentage }}%,
            {% endif %}
            {% if forloop.last %}
              {{ serie.color }} 0
            {% endif %}
          {% endfor %}
        );
      border-radius: 50%;
      width: 150;
      height: 150;
      margin: auto;
      margin-top: -63px;
    }
    .pie-center{
      position: relative;
      top: 50px;
      width: 75px;
      height: 75px;
      background: #FFF;
      border-radius: 50%;
      margin: auto;
    }
    .pie-legend {
      list-style: none;
      display: table;
      border-collapse: separate;
      text-align: center;
      margin: auto;
    }
    .pie-legend li{
        display: inline-block;
        margin: 5px;
    }
    .pie-legend .percent {
      color: white;
      text-shadow: 0 0 1px black;
      text-align: center;
      height: 25px;
      width: 40px;
      float: left;
      border-radius: 10%;
      cursor: pointer;
    }
    .pie-legend li span {
      padding-left: 10px;
    }
</style>
<div style="width:100%">
    <h3>Pie Chart</h3>
    <div class="pie-center"></div>
    <div class="pie-chart{{ uuid }}"></div>

    <ul class="pie-legend">
      {% for serie in data.series.default %}
      <li>
        <div class="percent" style="background-color: {{ serie.color }}" data-lookups="{{ serie.lookups }}" onclick="showData{{ uuid }}(this)">
            {{ serie.percentage }}%
        </div>
        <span class="choice">{{ serie.description }} ({{ serie.value }})</span>
      </li>
      {% endfor %}
    </ul>
</div>
<div class="clearfix"></div>
<script>
    function showData{{ uuid }}(serie){
        var url = document.location.href + '?{{ uuid }}=' + $(serie).data('lookups');
        $.get(url, function(data, status){
            console.log(data);
        });
    }
</script>