{% for key, series in data.normalized.items %}
<style>
    #container-{{ forloop.counter }} .pie-chart {
      background:
        conic-gradient(
          {% for serie in series %}
            {% if forloop.first %}
              {{ serie.color }} {{ serie.percentage }}%,
            {% endif %}
            {% if not forloop.first and not forloop.last  %}
              {{ serie.color }} 0 {{ serie.percentage }}%,
            {% endif %}
            {% if forloop.last %}
              {{ serie.color }} 0
            {% endif %}
          {% endfor %}
        );
      border-radius: 50%;
      width: 300;
      height: 300;
      margin: auto;
      margin-top: -125px;
    }
    #container-{{ forloop.counter }} .pie-center{
      position: relative;
      top: 100px;
      width: 150px;
      height: 150px;
      background: #FFF;
      border-radius: 50%;
      margin: auto;
    }
    #container-{{ forloop.counter }} .pie-legend {
      list-style: none;
      display: table;
      border-collapse: separate;
      text-align: center;
      margin: auto;
    }
    #container-{{ forloop.counter }} .pie-legend li{
        display: inline-block;
        margin: 5px;
    }
    #container-{{ forloop.counter }} .pie-legend .percent {
      color: white;
      text-shadow: 0 0 1px black;
      text-align: center;
      height: 25px;
      width: 40px;
      float: left;
      border-radius: 10%;
    }
    #container-{{ forloop.counter }} .pie-legend li span {
      padding-left: 10px;
    }
</style>
<div style="width:100%" id="container-{{ forloop.counter }}">
    {% if key != 'default' %}
    <h5>{{ key }}</h5>
    {% endif %}
    <div class="pie-center"></div>
    <div class="pie-chart"></div>

    <ul class="pie-legend">
      {% for serie in series %}
      <li>
        <div class="percent" style="white-space:nowrap;background-color: {{ serie.color }}">{{ serie.percentage }}%</div>
        <span class="choice">{{ serie.description }} ({{ serie.value }})</span>
      </li>
      {% endfor %}
    </ul>
</div>
<div class="clearfix"></div>
{% endfor %}