{% load tags %}
{% if not request.GET.modal %}
    {% if dashboard.extra.header.shadow %}
      <style>
        .navbar {box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);}
      </style>
    {% endif %}
    <nav class="navbar navbar-expand">
      <div class="container-fluid">
        <a class="navbar-brand" href="/app/">
          {% if dashboard.extra.header.logo %}
            <img height="30" src="{{ dashboard.extra.header.logo }}">
          {% endif %}
          {% if dashboard.extra.header.title %}
            <span>{{ dashboard.extra.header.title }}</span>
          {% endif %}
        </a>
        {% if dashboard.extra.header.text %}
          {{ dashboard.extra.header.text }}
        {% endif %}

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            {% for action in dashboard.data.actions %}
              <li class="nav-item">
                <a class="nav-link" href="{{ action.url }}">
                  {{ action.icon|icontag }}
                  {{ action.label }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="collapse navbar-collapse">
          {% include "app/dashboard/search.html" %}
          {% include "app/dashboard/tools.html" %}
          {% include "app/dashboard/apps.html" %}
          {% if request.user.is_authenticated %}
          {% include "app/dashboard/settings.html" %}
          {% endif %}
        </div>

      </div>
    </nav>
{% endif %}