{% load tags %}
{% if request.user.is_authenticated and not request.GET.modal %}
    <nav class="navbar navbar-expand" style="box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);">
      <div class="container-fluid">
        <a class="navbar-brand" href="/app/">
          {% if settings.SLOTH.HEADER.LOGO %}
            <img height="30" src="{{ settings.SLOTH.HEADER.LOGO }}">
          {% endif %}
          {% if settings.SLOTH.HEADER.TITLE %}
            <span>{{ settings.SLOTH.HEADER.TITLE }}</span>
          {% endif %}
        </a>
        {% if dashboard.data.actions %}
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            {% for action in dashboard.data.actions %}
              <li class="nav-item">
                <a class="nav-link" href="{{ action.url }}">
                  {% if action.icon %}
                    <i class="bi bi-{{ action.icon }}"></i>
                  {% endif %}
                  {{ action.label }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <div class="collapse navbar-collapse">
          {% include "app/dashboard/search.html" %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="{{ request.user }}" style="white-space:nowrap">
                {% if request|mobile %}
                  <span><i class="bi bi-three-dots-vertical"></i></span>
                {% else %}
                  <span>{{ request.user }} <i class="bi bi-chevron-down"></i></span>
                {% endif %}
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                {% if request.user.is_superuser %}
                <li>
                  <a class="dropdown-item" href="/app/icons/">
                    <i class="bi bi-paint-bucket"></i>
                    Icones
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                {% endif %}
                {% if dashboard.data.settings %}
                {% for item in dashboard.data.settings %}
                    <li>
                      <a class="dropdown-item" href="{{ item.url }}">
                        <i class="bi bi-{{ item.icon }}"></i>
                        {{ item.label }}
                      </a>
                    </li>
                {% endfor %}
                <li><hr class="dropdown-divider"></li>
                {% endif %}
                <li>
                  <a class="dropdown-item" href="/app/password/">
                    <i class="bi bi-input-cursor"></i>
                    Alterar Senha
                  </a>
                </li>
                {% with roles=request.user.roles.all %}
                  {% if roles %}
                    <li><hr class="dropdown-divider"></li>
                    <li class="text-center fw-bold">Perfis</li>
                    {% for name in request.user.roles.active.names %}
                      <li class="text-center" style="padding:5px">{{ name }}</li>
                    {% endfor %}
                    {% for name in request.user.roles.inactive.names %}
                      <li class="text-center" style="color:#CCC;padding:5px">{{ name }}</li>
                    {% endfor %}
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <a class="dropdown-item popup" href="/app/roles/">
                        <i class="bi bi-person-check"></i>
                        Gerenciar Perfis
                      </a>
                    </li>
                  {% endif %}
                  <li><hr class="dropdown-divider"></li>
                {% endwith %}
                <li>
                  <a class="dropdown-item" href="/app/logout/">
                    <i class="bi bi-box-arrow-right"></i>
                    Sair
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </nav>
{% endif %}