{% load tags %}
<style>
.shortcut-wrapper {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: self-start;
    margin-bottom: 10px;
    text-align: center;
}
.shortcut-wrapper .shortcut-link {
    flex-basis: 105px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
}
.shortcut-wrapper .shortcut-link i{
    font-size: 2rem;
}
</style>

<div class="shortcut-wrapper">
{% for item in data.shortcuts %}
    <a href="{{ item.url }}" class="shortcut-link">
        <div>
          {{ item.icon|icontag }}
          <p>{{ item.label }}</p>
        </div>
    </a>
{% endfor %}
</div>
<div class="clearfix"></div>