<style>
    .single_quick_activity .count_content {
        margin-left: 30px;
        text-align: left;
    }
    .single_quick_activity {
        background-color: #0d6efd;
        border-radius: 10px;
        -webkit-transition: 0.5s;
        padding: 10px;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        height: 120px;
    }
    .single_quick_activity i{
        font-size: 90px;
        float:left;
        margin-left: 20px;
        margin-right: 20px;
    }
</style>

<div class="row">
    {% for item in data.cards %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="{{ item.url }}" style="text-decoration:none;color:white">
            <div class="single_quick_activity">
                <div class="icon">
                    <i class="bi bi-{{ item.icon }}"></i>
                </div>
                <div class="count_content">

                    <h3><span class="counter">{{ item.count }}</span> </h3>
                    <p>{{ item.label }}</p>
                </div>
            </div>
            </a>
        </div>
    {% endfor %}
</div>
