@font-face {
  font-display: swap;
  font-family: Eina02-SemiBold;
  src:
      local('Eina02'),
      local('Eina02-SemiBold'),
      url(/static/css/fonts/Eina02-SemiBold.c5f9b8e3.ttf)
    ;
}
@font-face {
  font-display: swap;
  font-family: Eina02-Regular;
  src:
        local('Eina02'),
        local('Eina02-Regular'),
        url(/static/css/fonts/Eina02-Regular.2e682693.ttf)
      ;
}
@font-face {
  font-display: swap;
  font-family: Eina02-Bold;
  src:
        local('Eina02'),
        local('Eina02-Bold'),
        url(/static/css/fonts/Eina02-Bold.f8011405.ttf)
      ;
}
body{
    background-color: #FCFCFC;
    font-family: Eina02-Regular;
}

.modal-content{
    background-color: #FCFCFC;
    border: 0;
}

h1, h2, h3, h4, h5, .navbar-brand{
    font-family: Eina02-Bold !important;
}
th, label, .fieldset-field-label, .nav-link.active{
    font-family: Eina02-SemiBold !important;
    color: inherit !important;
}

.card{
    border: 0 !important;
}

.nav-link, h1, h2, h3, h4, h5{
	color: rgba(0, 0, 0, 0.87) !important;
}
.navbar{
    background-color: #FFF;
    padding: 15px;
    box-shadow: 0px -1px 0px 0px #001E3C1A inset;
}

.fieldset-inline-action .action-wrapper fieldset{
    box-shadow: none;
    padding: 0;
}

.admin-queryset .queryset-data, .admin-queryset .search-and-filters form,
.fieldset-inline-action, .action-wrapper fieldset, .cards-wrapper,
.shortcut-wrapper, .fieldset-list, .fieldset-group, .box{
	background-color: white;
	box-shadow: 0px 16px 32px 0px #001E3C0A;
	border-radius: 8px;
	padding: 20px;
}
.search-and-filters form, .action-wrapper, .cards-wrapper, .shortcut-wrapper, .fieldset-list, .fieldset-inline-action{
    margin-bottom: 20px;
}
.fieldset-side-panel .card, .reloadable-fieldset > .card, .reloadable-queryset > .card{
    box-shadow: 0px 16px 32px 0px #001E3C0A;
}

.progress{
    height: 1.5rem;
}

#app__dashboard__login{
    background-color: #FFF;
}

#app__dashboard__login .action-wrapper{
    margin:auto;
    max-width: 400px;
    margin-top: 150px;
}

#app__dashboard__login .action-wrapper h2{
    text-align: center;
}
